[2014-10-16 05:19] sqs opened #1 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with goth. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable goth on @Sourcegraph by going to https://sourcegraph.com/github.com/markbates/goth and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2014-10-16 15:24] #1 closed, assigned to nobody

[2014-10-19 00:29] bscott opened #2 "Feature Request: Github Auth"
I'll take a stab at this PR.

[2014-11-21 02:57] tylerstillwater opened #6 "getProviderName and gorilla.mux"
Greetings! I'm loving this package. Thank you for creating it!

I've just run into an issue that has a bit of a lousy workaround, and I think it could be handled more elegantly. I'd like your thoughts on what we can do about it.

Currently, `getProviderName` pulls the name out of `req.URL.Query().Get("provider")`. This works wonderfully for `gorilla.Pat`, but does not work for `gorilla.Mux`.

The

[2014-11-21 03:20] #6 closed, assigned to nobody

[2014-11-24 19:54] tylerstillwater opened #8 "goth clears context when it seemingly shouldn't"
[Here](https://github.com/markbates/goth/blob/master/gothic/gothic.go#L67) and [Here](https://github.com/markbates/goth/blob/master/gothic/gothic.go#L108) goth is clearing the `gorilla.Context` context. In my calling code, I use this. It seems bad form to completely blow out a shared resource from a subpackage.

[2014-11-25 21:40] #8 closed, assigned to nobody

[2014-12-11 17:19] tylerstillwater opened #10 "Unique ID"
To my knowledge, Oauth2 spec requires the provider to return an ID suitable for use as a Unique ID by your application. Is the `user.UserID` field populated with this unique ID?

[2014-12-11 18:13] #10 closed, assigned to nobody

[2014-12-11 19:56] #2 closed, assigned to nobody

[2014-12-12 19:09] tylerstillwater opened #14 "Username/Password Authentication?"
Would Username/Password authentication be something we want in goth?

[2014-12-15 23:01] #14 closed, assigned to nobody

[2015-01-22 17:45] endophage opened #19 "Odd location for UnMarshal"
First, great work, just came across this in the golang weekly newsletter and I've felt your pain re. authenticating with other services.

Obviously down to individual developer's opinions but it feels like Provider.UnmarshalSession should really be an initialization function for Session objects in the provider's session.go, not least of all because its symmetrical partner, Session.Marshal is on th

[2015-01-22 19:10] markbates commented on #19
Open a PR with the changes you're suggesting if it makes sense I'll merge it in.

[2015-01-25 21:32] cpjolicoeur opened #20 "Support defining which scopes to request for Github provider"
Currently, the `authUrl` is hardcoded and there is no mechanism in place to provide which scopes you want to request for the user being authenticated, so by default you only get `public` access.

Would be nice to be able to configure which [Github scopes](https://developer.github.com/v3/oauth/#scopes) are desired.

[2015-01-25 21:41] markbates commented on #20
Open a PR. Will gladly merge in a good solution.

[2015-01-25 21:47] cpjolicoeur commented on #20
When I finalize my current modifications, I'll send it up

[2015-01-26 00:20] cpjolicoeur opened #22 "Update providers to not use deprecated goauth2 package"
The [goauth2](https://code.google.com/p/goauth2/) has been deprecated in favor of the [oauth2](https://godoc.org/golang.org/x/oauth2) package.

We should update the Github, Facebook, and G+ providers accordingly.

[2015-01-30 19:03] #20 closed

[2015-01-30 19:03] #22 closed

[2015-02-16 11:06] RubenN opened #27 "GAE compatibility (urlfetch)"
I'd like to use this on app engine.
What would the best way be to get the proper (urlfetch) compatible Transport in?
(FetchUser uses the default http.Get)

The result i got was:
<code>
Post https://accounts.google.com/o/oauth2/token: http.DefaultTransport and http.DefaultClient are not available in App Engine. See https://cloud.google.com/appengine/docs/go/urlfetch/
<code>

[2015-02-16 15:02] tylerb commented on #27
The pattern for this kind of thing thus far has been callback functions that the user can set to provide customized functionality.

I would recommend having an `GetClient()` function that returns the `http.Client` to use for fetching the URL. By default, this should return a new client, but it could be overridden by calling code (see `GetProviderName`) to return the `urlfetch.Client` for use on Ap

[2015-02-18 07:18] RubenN commented on #27
Sounds like a valid solution if it is in line with Mark's thoughts.

[2015-02-18 16:20] markbates commented on #27
I don't use GAE, so I'm not sure of the exact nature of the problem, so I'll leave this to Tyler's discretion, as he seems to have a handle on this.

[2015-02-18 16:33] tylerb commented on #27
Sounds good. The approach I posted above should work just fine. @RubenN do you want to go ahead and implement this, then submit a PR?

[2015-02-19 07:04] RubenN commented on #27
Ok

[2015-02-19 19:04] RubenN commented on #27
It turned out to be even simpler and doesn't require code changes.
The key is to change the default http client like this:

<code>
	http.DefaultClient = &http.Client{
    	Transport: &urlfetch.Transport{Context: c},
	}
	http.DefaultTransport = &urlfetch.Transport{Context: c}
</code>

[2015-02-19 19:04] #27 closed

[2015-03-26 23:26] tylerb opened #31 "Facebook Auth is not returning email"
It must send the 'email' scope.

[2015-03-26 23:26] #31 closed

[2015-07-27 04:15] idealogyin opened #33 "Not working correctly for linkedin"
While connecting with linkedin it throws back and error
`You+need+to+pass+the+"state"+parameter`
[code]

[2015-07-27 10:32] markbates commented on #33
I don't use LinkedIn, so if you open a PR with a fix I'd be happy to merge it in. Thanks.

[2015-08-21 14:40] laicosly opened #35 "state for all providers?"
does goth have a common story for setting additional session params for the providers that do not support oauth2's state parameter?

[2015-08-21 15:02] laicosly commented on #35
a twitter response suggested adding params to the "oauth_callback" callback to track state, but since goth providers use sessions, maybe that's the ideal place to lookup a state value in oauth callbacks?

[2015-08-21 15:14] markbates commented on #35
The point of the session is track stuff across all of the requests, so that would be the place to put any of that type of data.

[2015-08-21 15:14] #35 closed

[2015-08-21 15:21] laicosly commented on #35
@markbates  right.  is there a recommended approach to using the provider sessions?  I want to track a property with the twitter auth session to be used on successful callbacks.  there doesn't look like any place to add that to the session, or any convenience methods.

[2015-08-21 15:23] markbates commented on #35
You would have to add some convenience methods to the API to let you hook into it. Shouldn't be that hard though. I would welcome the PR.

[2015-08-21 15:24] laicosly commented on #35
@markbates   thanks, that's what I was wondering.

[2015-08-25 23:31] flimzy opened #36 "gothic fails when auth provider responds with URL fragments"
I'm using Facebook auth, and specified `response_type=code%20token` in my auth request (as described [here](https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/v2.4)), which results in FaceBook responding with a URL fragment, which breaks gothic and results in the following error from the verification phase:

[code]

It appears that gothic is not parsing the URL respons

[2015-08-25 23:55] flimzy commented on #36
Let me add that I may be able to generate a PR to handle all of this, but I would need some guidance from you on how you would like to see configuration for the  'response_type' parameter to be exposed though the API.

[2015-08-26 00:27] markbates commented on #36
Hi,I'm traveling and have dubious Internet, so I'm not sure I can be of much help. I would definitely welcome a PR for this. Thanks.

[2015-08-26 21:45] flimzy opened #38 "How to set gothic.State"
I'm a bit puzzled about the intended use of `gothic.Store`:

    // Store can/should be set by applications using gothic. The default is a cookie store.
    var Store sessions.Store

    func init() {
	if Store == nil {
		Store = sessions.NewCookieStore([]byte(AppKey))
	}
    }

According to my understanding of Go package initialization (and some rudimentary tests I've done), there's no way to set

[2015-08-26 22:07] markbates commented on #38
If you're asking if the `if` statement could be removed, you are correct.

The reason the `init` function is there is to make sure there is always a `sessions.Store`, even if the user doesn't want to create one.

If the user does create their own store the one from the `init` function is thrown away, but that's fine, there's barely any cost to initializing it, and it's better to have one initializ

[2015-08-26 22:07] #38 closed

[2015-08-26 22:11] flimzy commented on #38
That makes sense, as far as it goes.  I guess it's just a little non-obvious.  Especially with the comment about replacing AppKey -- this seems to indicate that setting `gothic.Appkey` ought to actually do something.  :)

[2015-09-10 02:43] digitalplaywright commented on #14
https://github.com/simplabs/rails_api_auth is a rails example for supporting the "Resource Owner Password Credentials Grant" OAuth 2.0 flow as well as Facebook authentication. It is extremely simple and not many lines of code, and hopefully this can be made into an equivalent. However, the scope of this package is for APIs with bearer tokens only and not for cookie based sessions.

[2015-09-29 06:05] faeronsayn opened #39 "Facebook not returning an email"
I'm having trouble getting facebook to return an email. It shows that I've given permission to the app for my email, but the user response doesn't have the email filled in. I'm wondering if we're just not setting the email properly?

[2015-09-29 16:36] tylerb commented on #39
I don't have a Facebook account, so this isn't one I can validate easily. 

@markbates can you take a look?

On Tue, Sep 29, 2015 at 12:05 AM, faeronsayn <notifications@github.com>
wrote:

[2015-09-29 18:37] faeronsayn commented on #39
So making a new facebook account does indeed return an email. So, it might just be my facebook account. So i'll just close this issue.

[2015-09-29 18:37] #39 closed

[2015-10-07 23:29] oyvindsk commented on #27
For the record, this does not work anymore with newer versions of oauth2. It looks like it should be unnecessary now, but I  can't get it to work at all with oauth2 released after March sometime (it's obvious which commit it is..)

Works if you revert back to before that commit in March and use @RubenN 's sollution

[2015-10-09 02:40] markbates commented on #27
As before, I don't use GAE, so I can't produce. However, @oyvindsk if you can reproduce and know a fix please submit a PR so we can close this. Thanks.

[2015-10-09 12:23] oyvindsk opened #40 "App Engine Fix: Supply a context to oauth2 Export()"
This is what I have so far. It works, but as a Golang and App Engine noob, I'm guessing some else can come up with a nicer solution?  https://github.com/oyvindsk/goth/commit/6e8230b7bd108673a5534c8b95cae0d7f05f5b17
It's a pain to implement that callback as you an see in the comment.

_Why:_
The oauth2 module changed and it now handles the http.DefaultClient stuff in App Engine compatible way. So f

[2015-10-09 18:49] bentranter commented on #36
@flimzy Just ran into this myself. I think for Facebook it should be `response_type=code` (or just left blank, since I *think* that's the default), since the server can't access the URL fragment — only the client can. That would explain the error (at least it was the reason behind my error, and worked for me :smile:).

[2015-10-10 18:54] markbates commented on #36
I definitely would welcome a PR for this.

[2015-10-13 02:43] bentranter commented on #36
Sweet, I'll work on this over the next few days :smile:

[2015-10-14 20:45] bentranter commented on #33
After some investigation, it looks like this bug is being caused by the redefinition of `gothic.GetState` in `examples/main.go`: https://github.com/markbates/goth/blob/master/examples/main.go#L37-L40.

LinkedIn seems to be the only provider that makes the `state` parameter required, so omitting the `state` param breaks it. I'll send a PR to fix this at some point, but I'm going to test the other m

[2015-11-24 18:04] bryanl opened #47 "Support for refresh tokens"
Generated access tokens most likely have an expiration date. Would it be acceptable to add support for refresh tokens and their expiration date along with a flow to refresh them?

[2015-11-24 18:08] markbates commented on #47
Totally. I would love that.

[2015-11-24 18:09] markbates commented on #47
Bryan, if you want commit access, I'm happy to give it to you. I trust you.

[2015-12-11 16:05] #33 closed

[2015-12-20 14:31] thomasmodeneis opened #54 "Store.New with redistore always returns a nil session"
Hi,

I've been trying to integrate goth with https://godoc.org/gopkg.in/boj/redistore.v1 but no luck.

When I replace:
[code]

For
[code]

The return for the following code:
[code]

Changes from:
[code]

To

[code]

Making the whole auth process fail after session is handled on the callback method.

[code]

Does anyone know what is going on with this ?
Thanks

[2015-12-20 19:28] thomasmodeneis commented on #54
Hi,

I resolved this by re-implementing on my auth class by overriding GetAuthURL and BeginAuthHandler to make use of RediStore instead of the goth Store.

I think Somehow the variable Store was interfering with the RediStore.
[code]
Thanks

[2015-12-20 19:28] #54 closed

[2015-12-29 23:18] Snorlock opened #55 "Extract encoded cookie when begining auth"
Hi I have a case where in developing a authorization service using different providers.
My case is that there shall be multiple frontendhosts calling towards my api for authorization through f.ex facebook. So I need to be able to know the URL that called on BeginAuth, and have access to that when the callback is fired. I cant have any form for state in my app since there might be multiple calling

[2016-01-02 17:45] Rivalo opened #56 "The default example is lacking/returns errors"
When running the example I get the following error:
```goth/gothic: no SESSION_SECRET environment variable is set. The default cookie store is not available and any calls will fail. Ignore this warning if you are using a different store.```

Which gets returned by the following lines:
[code]

The example doesn't set it, why?

The Error also says something about a default cookie store not being ava

[2016-01-02 17:48] markbates commented on #56
The behavior was changed recently and the example code was obviously overlooked. Please feel free and submit a PR with a fix for the example code. We'd love to have it. Thanks.

[2016-01-20 17:05] allochi opened #58 "Question on how to use the package"
Hi,

I'm sorry, I have really tried to dig into the code, the tests and the example to find out how to do this, but I'm running late with my project and I appreciate any directions.

So far I'm able to configure the `gplus` provider, retrieve the correct account information, and I do get `_gothic_session` in my cookies using the following:

[code]

Now comes the funny part, what's next :D? What am

[2016-01-20 17:13] markbates commented on #58
Typically in an app when you get the callback from a provider you would store the user in your database for look up later. Then you would probably drop a session cookie with some sort of pointer to that user for lookup later in a piece of middleware.

Since those steps are 100% unique to your application there is no "default" way to do it, which is why `goth` and `gothic` don't provide one. Once y

[2016-01-20 17:13] #58 closed

[2016-01-20 18:11] allochi commented on #58
@markbates Thanks! That's exactly what I was looking for, I wasn't sure if `goth` was suppose to handle the session since it create `_gothic_session`, and I though I was missing something.

Thanks for your replay, and thank for `goth`, it's amazing.

[2016-01-21 07:24] Snorlock commented on #55
@markbates any suggestions? Iv tried to discuss it with the owner of sessions, https://github.com/gorilla/sessions/pull/62, but we dont get to an agreement.

[2016-01-21 18:12] tylerb commented on #55
You should be able to handle this by simply sending some data through the `state` param that goes to the provider and comes back to you. Put whatever you need to in there to identify the original request.

[2016-01-21 18:26] bentranter commented on #55
@Snorlock I read through your conversation with Matt in the linked issue, and I'm kind of confused about what you're trying to do. Why do you want to use JSON web tokens for authentication if you're already using Goth? Goth already handles the authentication process for you.

I'm also pretty confused about the purpose of your JavaScript code. Why do you want to open a new window to perform the aut

[2016-01-23 09:32] Snorlock commented on #55
@tylerb is it right to have to override the method? Or how do you set the state by yourself?

[2016-01-23 10:34] Snorlock commented on #55
@bentranter I'm experimenting with authentication and wanted to try out JWT but wanted to have facebook/twitter/google auth in the back. And found goth to be quite simple to be able to auth the user and have some info about the user. I felt that JWT tokens was very easy to work with but I wanted to have a form of simple auth for the user. But I know I could have used the token returned from OAUTH.

[2016-01-23 15:24] tylerb commented on #55
[code]

So you create your own BeginAuth function, mutate the incoming request query values, then call the BeginAuth in goth to send it through the oauth process on the provider.

[2016-01-24 19:00] Snorlock commented on #55
I rather replaced the setstate method and set a header on the request
[code]

[2016-01-30 22:11] #56 closed

[2016-02-01 16:06] Pym commented on #47
I would love that too! @bryanl have you had time to look into this?

[2016-02-01 16:25] bryanl commented on #47
I put some thought in to it, but never finished. I will put in some hours over the weekend.

[2016-02-08 00:05] n7fury opened #62 "why break tests into separate packages?"
hiya,
why are test are broken into separate packages eg.( package gothic, package gothic_test ), and then the original package (eg gothic) imported, It seems to be standard practice to put both gothic.go and gothic_test.go in the same package gothic, https://golang.org/doc/code.html#Testing. Is there any reason why the test are broken into different packages.

Thanks for your great work on this pa

[2016-02-08 00:09] markbates commented on #62
The '_test' packages are considered "magic". They let you test from the outside-in. When doing that you can only test the public API of the package.

I like this testing style because it forces you to only use the public API therefore not letting you test private functions or use tricks to make testing easier.

It's all about forcing you to think about your public API.

[2016-02-08 00:09] #62 closed

[2016-03-02 07:17] rakesh-eltropy commented on #47
I would love that too! @bryanl have you had time to look into this? Not supporting refresh token is the only reason, not to use this beautiful library.

[2016-03-02 11:12] bryanl commented on #47
@rakesh-eltropy the project I'm working on needs them, but I'm not quite there yet. I started working on it, but haven't completed it yet.

[2016-03-04 02:23] rakesh-eltropy commented on #47
@bryanl I need it urgently. Would you mind sharing when are you expecting it to finish or I can help you ?

[2016-03-08 18:40] rgeronimi opened #65 "Exotic http lib leak not handled by goth"
The http lib has an exotic case of connection leak which is not taken care of by goth :
if for some reasons (e.g., ongoing production incident) the target authentication URL is redirecting too many times, the golang http client might return a non-nil response object together with a non-nil error.

This is an under-documented weakness of the Golang version 1 libraries, left for compatibility reason

[2016-03-08 18:40] markbates commented on #65
Please submit a PR, I'd happily merge it.

[2016-03-09 02:15] rakesh-eltropy commented on #65
@rgeronimi It is not fixed for all the providers. We still have same issue in dropbox, box, digital ocean, lastfm, linkedin, salesforce, spotify, twitch, twitter and yammer providers.

[2016-03-09 06:45] rgeronimi commented on #65
Ah thanks, I hacked a simple shell script to search for such errors in my dependencies, and I missed the http Do pattern.
Fixed now, submitting a second PR.

[2016-03-10 07:56] rakesh-eltropy commented on #47
Just to update everybody, I have added support of refresh token and submitted the PR. Please test and let me know your feedback once its merged in the master.

[2016-03-10 13:01] bryanl commented on #47
PR is at https://github.com/markbates/goth/pull/68 (for search engine posterity)

[2016-03-11 11:20] rakesh-eltropy commented on #47
Mark, can you please close this issue.

[2016-03-11 12:06] #47 closed

[2016-03-12 15:45] rakesh-eltropy commented on #65
@rgeronimi can you please close this.

[2016-03-12 15:47] rakesh-eltropy commented on #55
@Snorlock Can you please close this.

[2016-03-12 15:50] #55 closed

[2016-03-12 15:50] #65 closed

[2016-03-13 06:36] rakesh-eltropy commented on #36
@bentranter do you have any update on this.

[2016-03-14 02:55] bentranter commented on #36
Hey @rakesh-eltropy, I do. The Oauth exchange where the user receives a token as part of a URL fragment is (as far as I know) only supposed to be used for when the client (ie, a front end web app) is handling the token as part of the implicit grant flow -- not part of the three legged Oauth flow that Goth typically uses. For Goth's purposes, I think only the `response_type=code` should be used, no

[2016-03-14 09:07] flimzy commented on #36
If it's easy to support response_code=token, why not do it? Oauth can be used in many ways, and even Oauth in Go may be used for client-side auth (via GopherJS, for instance, or a desktop app).

If there is a technical reason it literally doesn't make sense to support `response_type=token`, sure, don't support it, and instead generate an error.  If, on the other hand, it's easy to support, why not

[2016-03-14 17:00] bentranter commented on #36
Hey @flimzy, I totally agree with you, and I'd love for Goth to support as many Oauth use cases as possible, but this one is tricky to support. When the request is made from the provider to the callback URL, the token is in the URL fragment, and that URL fragment isn't accessible on the server. You can still make this work using some JavaScript by getting the value of that token from the browser (

[2016-03-16 15:47] rakesh-eltropy commented on #19
Moved UnmarshalSession method in Session.

[2016-03-16 15:55] zmb3 commented on #19
I think the intent of the issue was not that we need to cut and paste the `UnmarshalSession` method into a different file, but that the method should not be on the `Provider` type.

As mentioned, the `UnmarshalSession` method doesn't even use it's `*Provider` receiver, and it doesn't make sense to have `Marshal` in the `Session` interface and unmarshal in the `Provider` type.

[2016-03-16 16:29] rakesh-eltropy commented on #19
Sorry, It was a mistake. I rollbacked it.

[2016-03-25 22:40] captncraig opened #72 "Github provider does not include username in User object"
The github user returned from FetchUser does not include the username anywhere. It is in the api response as 'login'.

Should the `NickName` field be set to that rather than the person's full name?

[2016-03-26 00:25] bentranter commented on #72
Seems like a good idea to me

[2016-03-26 00:33] #72 closed

[2016-04-18 19:11] im7mortal opened #76 "[question] Doesn't it allow several callbacks?"
Hi!
In _passport.js_ you can use one **callbackURL** for signup and another for logging. Also separate callback is  necessary for deactivating account. It's comfy.
I noticed that _func New(clientKey, secret, callbackURL string, scopes ...string) *Provider {}_ allow only one callback. I got that function from _facebook provider_. I noticed it standard function for all providers.
I am doing it via _

[2016-04-19 18:57] im7mortal commented on #76
I noticed that only facebook allow several callbacksURL. It's pretty comfy. But majority providers keep only one callbackURL.
I think It possible to do some function which will set custom callback.
Is it redundant? If only for providers who allow it? For example for facebook?

[2016-04-21 17:21] geofffranks opened #78 "gothic does not throw any errors, if the callback does not contain a `code` value"
I have a mis-configured github provider being used from gothic. If I misconfigure my callback, so that it does not match what is configured in github, the requests to my callback handler look like this:

[code]

When I issue `gothic.CompleteUserAuth()`, it returns no errors, and a user object of
`{map[message:Bad credentials documentation_url:https://developer.github.com/v3] github     0      0001

[2016-04-21 17:46] geofffranks commented on #78
Is this a problem with github returning a 200 with a payload error that isn't being inspected?

[2016-04-21 17:50] markbates commented on #78
Most likely that is what the problem is. A PR would be very appreciated. :)

[2016-05-04 19:27] bobquest33 opened #81 "Twitter provider not working"
Hi
For my below code I am getting the error as given below please help:

Error:
getBody: httpExecute: HTTP response is not 200/OK as expected. Actual response:
	Response Status: '400 Bad Request'
	Response Code: 400
	Response Body: {"errors":[{"code":215,"message":"Bad Authentication data."}]}
	Request Headers: [key: Authorization, val: OAuth oauth_callback="http%3A%2F%2Flocalhost%3A8080%2Fauth%2F

[2016-05-04 19:39] markbates commented on #81
You probably don't have your keys configured correctly, or your callback URL doesn't match what Twitter is expecting. The error is coming from Twitter, not `goth`.

[2016-05-04 19:39] #81 closed

[2016-06-14 10:45] motyar opened #85 "Not working for Twitter"
I am getting this error with Twitter, please help

`getBody: httpExecute: HTTP response is not 200/OK as expected. Actual response:
    Response Status: '401 Authorization Required'
    Response Code: 401
    Response Body: {"errors":[{"code":32,"message":"Could not authenticate you."}]}
    Request Headers: [key: Authorization, val: OAuth oauth_callback="http%3A%2F%2F162.243.216.116%3A3000%2Fauth

[2016-06-22 09:20] kataras opened #86 "Excellent library"
Nice job to contributors, I just convert it to work with the [Iris web framework](https://github.com/kataras/iris) !

You could write a new section on README with the packages uses your library (Iris is first on 'All Languages' Github Trends and Go Trends) this method will give you traffic.

[2016-06-22 12:59] zmb3 commented on #86
I see you copied the gothic package to [iris-contrib/gothic](https://github.com/iris-contrib/gothic), but didn't retain the original license or copyright - which technically violates goth's MIT license:

You really should attribute the work to its original author(s).

[2016-06-22 13:01] markbates commented on #86
Yeah, that's not cool dude.

[2016-06-22 13:02] kataras commented on #86
I did on the package name lol..  I'm adding the README also, cool lawl

[2016-06-22 13:05] kataras commented on #86
@markbates  Done, although I had did that on package-level because it was only one file.

[better support ](https://github.com/kataras/iris/commit/4a446ac1e227b34263123a41bece6f10292e32f8)by iris now ( this is why I late to answer)

[2016-06-22 13:06] kataras commented on #86
@zmb3 I am, maybe you don't watching my work... np :)

[2016-06-22 13:09] kataras commented on #86
@markbates  Done, although I had did that on package-level because it was only one file.

@zmb3 [I](https://github.com/kataras/iris/blob/master/THIRDPARTY.md) am, [here](https://github.com/iris-contrib/gothic/blob/master/gothic.go#L2) it [is](https://github.com/iris-contrib/gothic/#license) ...

[better support ](https://github.com/kataras/iris/commit/4a446ac1e227b34263123a41bece6f10292e32f8)by ir

[2016-06-22 13:15] kataras commented on #86
@markbates  Done, although I had did that on package-level because it was only one file.

@zmb3 [I](https://github.com/kataras/iris/blob/master/THIRDPARTY.md) am, [here](https://github.com/iris-contrib/gothic/blob/master/gothic.go#L2) it [is](https://github.com/iris-contrib/gothic/#license) ...

[better support ](https://github.com/kataras/iris/commit/4a446ac1e227b34263123a41bece6f10292e32f8)by ir

[2016-06-22 13:16] kataras commented on #86
@markbates  [Done](https://github.com/iris-contrib/gothic/#license), although I had did that on [package-level](https://github.com/iris-contrib/gothic/blob/master/gothic.go#L2) because it was only one file, added to the iris/thirdparty.md also.

@zmb3 [I](https://github.com/kataras/iris/blob/master/THIRDPARTY.md) am, [here](https://github.com/iris-contrib/gothic/blob/master/gothic.go#L2) it [is](h

[2016-06-22 14:29] #86 closed

[2016-06-24 11:46] felixLam commented on #40
I have submitted a PR that fixes the use of the DefaultClient (it makes it at least configurable).
https://github.com/markbates/goth/pull/87

[2016-07-26 21:12] wanghong230 opened #92 "Would we have a proper support for generic SAML?"
SAML would be super helpful for enterprise area.

[2016-07-26 21:32] markbates commented on #92
If you want to write a SAML document, I wouldn't be opposed to it. With that said, all of the providers are either OAuth or OAuth 2.0, so I'm not sure what a SAML document would provide.

[2016-07-27 01:40] icyswift commented on #85
hiya motyar,

your oauth consumer key in the header does not match the consumer key in the code
header: bu7KHEjK7UTfNReTcG4gK
code    : bu7D17UKHEjK7UTfNReTcG4gK

Does the consumer key in your code match the one from the twitter developer dashboard :question:

[2016-08-10 12:18] sungwoncho commented on #58
@markbates I was wondering the similar thing because goth set `_gothic_session` cookie. What is the purpose of `_gothic_session` cookie?

[2016-08-10 12:26] markbates commented on #58
It holds on to information such a as which provider you are using so when you come back from the authenticating with that provider it can finish the process. Without it there would be no way of knowing that you clicked on Facebook, for example.

[2016-08-12 02:20] feellin opened #94 "example alway return "could not find a matching session for this request""
try the example for facebook login, alway return "could not find a matching session for this request"

[2016-08-28 18:25] thomasmodeneis opened #96 "how to provide appsecret_proof argumet to fb calls ?"
Hi,

I could not find this on the web,

After enabling Require app secret for server API calls I'm running into error`API calls from the server require an appsecret_proof argument`. Is there a way to set appsecret_proof argument ?

Thanks.

[2016-09-07 16:56] bryanl opened #100 "slack fetch user"
The way this is currently implemented leaves a bit to be desired. If using goth for a slack app bot, you won't be able fetch the pertinent bot details e.g bot id, bot channel id, bot oauth2 token. I hesitate to submit a PR for this (but probably will anyways), because I don't know how others are dealing with this brokenness. In its current state, it's not very useful for a bot application.

[2016-09-07 16:58] markbates commented on #100
I'm open for suggestions on how to fix/change things for a potential v2.

[2016-09-07 19:05] bryanl commented on #100
I don't think you need do a rev on goth to make this work. This is more commentary about how the slack provider works. It looks to be a simple copy and paste of the box provider without considering how it would actually be used. I'm tweaking a local copy now to see what changes need to be made.

[2016-09-07 19:17] bryanl commented on #100
More thoughts on this.  IF there was a v2, I would like the ability to have more than one instance of a provider. If you are dealing with a single provider with multiple scopes (because you have multiple users), things can get a bit hairy with the default setup.  It's possible to maintain your own list of providers, so this is something that can be worked around.

[2016-09-22 10:55] tvmaly opened #101 "request for wechat provider support"
would it be possible to add support for wechat as a provider?

http://admin.wechat.com/wiki/index.php?title=User_Profile_via_Web

[2016-11-03 13:34] Guiguillermo opened #104 "Using goth for rest api"
Hello,

I want to implement Facebook social login on a mobile app.
It looks like goth is designed for web app, not mobile app (for example, the http redirection is not possible).
Is there a way to use the power of goth to create a rest service for facebook login ?

Thanks in advance.

[2016-11-03 14:43] markbates commented on #104
Great question. I don't know. The `gothic` package is explicitly designed for web apps, however, it just wraps most of `goth` to make that happen. You can probably use the individual pieces to make it happen, but I've never done it, so I can't really say for sure.

[2016-11-03 14:43] #104 closed

[2016-11-03 14:44] markbates commented on #101
Please feel free and open a PR with WeChat support. It would be welcome. Thanks.

[2016-11-03 14:44] #101 closed

[2016-11-03 14:45] #85 closed

[2016-11-03 14:45] #78 closed

[2016-12-17 18:34] harobed opened #108 "Add in README instruction to compile and execute example code"
Add in README instruction to compile and execute example code.

[2016-12-17 18:36] harobed commented on #108
I use:

[code]

[2016-12-29 08:27] baijum opened #114 "Support meetup.com provider"
https://www.meetup.com/meetup_api/auth/

[2017-01-13 01:21] jainh opened #120 "Add LDAP Support"
Is there support for OpenID connect provider and LDAP ?

[2017-01-13 01:22] markbates commented on #120
Not currently, but PRs are definitely welcome!

[2017-01-13 09:13] howdoicomputer commented on #114
Ah, something I'm looking for.

[2017-01-13 11:28] markbates commented on #114
PRs are welcome.

[2017-01-18 22:35] willemvd opened #123 "Use new Client() in all cases"
Seems that not all http.Get (and maybe .Post?) are replaced with the new Client() from the provider.
Example: https://github.com/markbates/goth/blob/master/providers/github/github.go#L154

[2017-01-18 22:41] markbates commented on #123
I replaced all the ones that had been set up by that last PR Felix set up, so that must've missed a bunch of places.

PR? Please?

[2017-01-18 22:43] willemvd commented on #123
Ok, will try to do that tomorrow but not sure if I will get to it :)

[2017-01-25 09:29] willemvd commented on #120
See PR #127

[2017-01-26 10:20] willemvd opened #128 "UserID is not always filled"
Make UserID a mandatory field so applications using goth can trust on the fact that this is always filled (and can use it as a mandatory field)

Will create a PR for it

[2017-01-26 11:54] #128 closed

[2017-01-29 18:16] rickb777 opened #131 "Coupling for Gorilla Mux"
In recent months, gothic.go has become coupled to gorilla/mux. See lines 176 onward

[code]

Firstly, note that `req.URL.Query().Get(":provider")` is possibly called twice (this may be a mistake).

Secondly, `mux.Vars(req)["provider"]` is specific to gorilla/mux. I happen to use julienschmidt/httprouter and I'd quite like to decouple from gorilla/mux dependency, which I don't need in my codebase.

[2017-01-31 14:16] willemvd opened #132 "Get goth.User without re-authenticating every time"
With the current set of functions in the gothic.* we don't have an option to retrieve the user without going through the whole authentication flow.

Current setup to get user details at login:
1. start login flow with BeginAuthHandler or GetAuthURL (if you need to do custom error handling)
2. handle callback and get the goth.User with CompleteUserAuth

Step 1 will always try to completely authenti

[2017-02-01 12:05] willemvd opened #133 "securecookie: the value is too long"
In the OpenID Connect provider the id_token is stored in the session because this contains the user information. Storing the session can cause the error "securecookie: the value is too long" when there is a lot of data stored in the id_token field

[2017-02-01 12:07] willemvd commented on #133
We should think of a way to store more information if it doesn't fit in the cookie.
Maybe introduce a new Store which uses disk storage combined with a private key to secure the data?
@markbates Any suggestions?

[2017-02-01 14:48] #123 closed

[2017-02-01 15:02] #108 closed

[2017-02-01 15:17] markbates commented on #133
I wouldn't want to change the default store for a cookie store, as that is easy for most people to get up and running with, plus, this only appears to be a problem with the OpenID provider, as far as I can tell.

Since we're using http://www.gorillatoolkit.org/pkg/sessions it should be easy enough for people to plugin their own session stores if the cookie store isn't working for them.

[2017-02-02 15:20] willemvd commented on #100
With #130 it is now possible to set a name to the provider which makes it possible to have multiple instances of the same provider

[2017-02-03 00:59] jmcarp opened #136 "Document csrf protection"
Is the intention that users who want csrf protection should overwrite `gothic.SetState` to set a random state, add the state to the session, and verify in the callback handler? If that's right, it would be useful to document. Also, would you be interested in implementing csrf in gothic by default?

[2017-02-06 10:37] willemvd commented on #94
For the example to work you need to set the "Valid OAuth redirect URIs" to "http://localhost:3000" on the page https://developers.facebook.com/apps/<your app id>/fb-login/ and enter the example application with http://localhost:3000

This error may occur when you run the example application behind some proxy and it's available with multiple urls like https://foo.com which is a proxy redirect to ht

[2017-02-06 10:37] #94 closed

[2017-02-06 10:57] #96 closed

[2017-02-06 10:59] willemvd commented on #96
Updated the facebook provider to always set this appsecret_proof when doing the api call.
Works with both the facebook setting "Require App Secret  Only allow calls from a server and require app secret or app secret proof for all API calls." enabled and disabled

[2017-02-06 11:07] willemvd commented on #76
The callbackURL is used to tell the provider, on the initial login request, where to redirect to when the login flow is successfully finished.
Facebook indeed allows you to specify multiple urls that are accepted for the value you send it, but as the call initiator you are required to tell it which one to use.

What is the case that you would like to send facebook to use another return url?

[2017-02-06 11:21] willemvd commented on #100
@bryanl can you confirm if the bot data can be retrieved from the endpointProfile https://slack.com/api/users.info ?

Because if so, it should be available inside gothUser.RawData :  https://github.com/markbates/goth/blob/master/providers/slack/slack.go#L116
With that RawData you can than afterwards parse out your requested data

If it is not available, please let me know

[2017-02-06 14:17] #114 closed

[2017-02-06 14:18] willemvd commented on #114
Added meetup.com provider with #138

[2017-02-06 15:47] im7mortal commented on #76
@willemvd I don't remember exactly.
<https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow>
Last paragraph about _Detecting When People Uninstall Apps_ **Deauthorize Callback URL**
I don't remember why I decided that it should be in provider.
Maybe I was wrong.

[2017-02-06 16:53] acornejo commented on #131
+1

[2017-02-06 19:46] #132 closed

[2017-02-07 07:50] willemvd commented on #131
@rickb777 there is a minor difference in the first code what on first looks like the same:
the second `req.URL.Query().Get(":provider")` is with a semicolon before the provider
So think it has to do with resolving the provider value in side the different http engines

@markbates binding against mux is indeed a problem , but I know when we would change this it would break applications using this de

[2017-02-07 11:52] markbates commented on #131
This coupling has been there for a few years, and to remove it would break existing apps. If someone can figure out a way to do this would breaking backward compatibility I'm all ears.

[2017-02-20 14:02] #133 closed

[2017-02-22 18:34] strk opened #142 "Add support for dynamic client registration"
I'm looking for `OpenID-2.0` style of authentication: just present an URL you control and you're in!
In order to do that, we must remove the need to hard-code clientID/clientSecret in relaying parties configurations, and dynamic client registration seems to be what's needed for that:
https://openid.net/specs/openid-connect-registration-1_0.html

Is that supported by the openid provider, or does it

[2017-02-23 12:31] willemvd commented on #142
Guess you mean OpenID Connect instead of OpenID?
In case of OpenID Connect, I think that you need to modify the OpenID Connect provider since the core is not aware of the implementation of the provider.
Creating a new provider is also possible as long as you implement the Provider and Session interface, which both doesn't need to do OAuth2 specific things

[2017-02-23 12:57] willemvd opened #143 "Multiple instances of same provider with custom urls"
Since we implemented #130 (multiple instances of 1 provider type) you could get in to trouble with multiple instances of the same provider when you need custom urls on one of the instances.

The way it is now handled is that you should first change the for example Gitlab TokenURL and then call the .New(). If you call the New() on the provider again it will use the initial set TokenURL since this i

[2017-02-23 13:16] willemvd commented on #143
Providers that should be changed are:
github
gitlab
influxcloud
paypal

[2017-02-23 14:12] #143 closed

[2017-02-23 19:39] strk commented on #142
Yes I meant `OpenID Connect provider`. So you confirm it's not supported but could be made supported by the provider w/out changes in Core, did I understand correctly ?

The "no need to do OAuth2 specific things" part isn't clear to me, does it mean a provider could *also* just be plain `OpenID-2.0`, for example ?

[2017-02-23 19:43] strk commented on #120
Well, #120 was merged, so maybe this could be closed in favor of a LDAP one (and I'll file an `OpenID-2.0` one)

[2017-02-23 19:45] strk opened #146 "Add OpenID-2.0 provider"
Although now deprecated in favour of `OpenID Connect`, `OpenID-2.0` still has providers around, especially in the federated web community (easier to federate, as far as I can see). This ticket is to request/track an `OpenID-2.0` provider.

See also #120

[2017-02-28 02:16] groob opened #147 "Please tag versions with semver"
I've been trying to use https://github.com/golang/dep to download goth, and was disappointed that the project does not provide semver releases. Please consider creating a 1.0.0 tag and using semver to signal changes in the library.

[2017-03-01 11:15] willemvd commented on #147
Agree with @groob
@markbates how do you think about this? This would also open up a way to provide backward incompatible changes which we now don't want to do

[2017-03-01 16:27] markbates commented on #147
Ok, I just tagged with `v1.38.0`. That's `v1`, plus a minor for each of the providers.

@willemvd will you own cutting new versions going forward?

[2017-03-01 16:27] #147 closed

[2017-03-01 20:03] willemvd commented on #147
A tag for every merged PR or do you want to save a few before releasing a new version?

[2017-03-01 20:23] markbates commented on #147
Depends on whether it warrants a release or not. New providers should get tagged, definitely, big bug fixes, etc... small things like typos, docs, etc... don't need new tags.

[2017-03-02 12:58] willemvd commented on #142
Yes, I do confirm it can be supported by provider without changes to the core.

Yes that is what I mean 😄

[2017-03-17 06:03] strk opened #148 "Add support for federated OpenID-Connect features"
See http://openid.net/specs/openid-connect-federation-1_0.html
Superceeds #142

[2017-03-17 06:04] strk commented on #142
I found a wider specification to actually allow what I'm after (federated logins). #148 filed to superceed this.

[2017-03-17 06:04] #142 closed

[2017-03-17 08:37] strk commented on #148
See also #146

[2017-03-23 06:30] strk opened #149 "Add support for openstreetmap.org as a provider"
I'm not sure it takes any support from this library to do that, but as I see many providers listed I'm noticing here that openstreetmap is not there.

See http://wiki.openstreetmap.org/wiki/OAuth#Registering_your_application_as_OAuth_consumer

[2017-03-23 06:33] strk commented on #149
\cc @willemvd

[2017-03-23 07:28] willemvd commented on #149
@strk Don't know why you explicitly cc / mentioned me?
Feel free to create a PR to add this

[2017-03-23 07:29] willemvd commented on #146
Feel free to add a PR

[2017-03-23 07:29] willemvd commented on #148
Feel free to add a PR

[2017-03-23 08:58] strk commented on #149
I'm counting on you to know the answer to my question :)

[2017-05-02 19:26] thalesfsp opened #153 "Are examples broken?"
I followed the instruction to run the example, and tried some. Some are broken, I think:

- Slack
- SoundCloud
- etc

Can you confirm it? Am I doing something wrong or missing some step?

Thank you!

[2017-05-03 13:37] xenu256 commented on #153
Facebook too gives:
"The parameter app_id is required", when config is intact.

[2017-05-03 13:56] xenu256 commented on #153
OK, got it. This isn't an issue, but documentation should be clearer, probably. The ids and secrets should be set through environment variables, ex.:

[code]

[2017-05-23 13:28] apaganobeleno opened #156 "[Question] Oauth 1.0a"
First of all thanks for all the providers goth has!
I would like to know if by chance there is a sample of oauth 1.0a provider somewhere, and also if goth supports oauth 1.0a.

Thanks in advance!

[2017-05-23 14:57] markbates commented on #156
Hey @apaganobeleno, each provider uses what ever implementation of OAuth the service it talks to uses. For example, Twitter is OAuth 1.0a and GitHub is OAuth 2. It's even possible to implement a provider that doesn't use OAuth at all! :) Hope that answers the question.

[2017-05-23 14:57] #156 closed

[2017-05-23 15:02] #153 closed

[2017-05-23 15:09] apaganobeleno commented on #156
thanks @markbates for the quick answer, yes, it answers all my questions.

[2017-06-08 05:42] Puja-K commented on #33
I am still getting this error. Can someone please tell me how to fix it?

[2017-06-12 03:28] ncantelmo commented on #136
I just added #159 to start addressing this issue.

I've also added some code to my project to replace SetState with a version that returns random strings. Not sure whether that sort of thing should go into gothic itself, but at the very least it would be good to have it in the example.

If you'd like a PR for either approach @markbates, let me know.

[2017-06-13 13:33] ncantelmo opened #160 "Stronger default cookie security settings for gothic.Store"
By default, gothic's CookieStore is created without additional configuration beyond what's set by `sessions.NewCookieStore([]byte(key))`.

That causes gothic to produce cookies with options:
[code]

The biggest issue here is the `HttpOnly` flag being false. Enabling that by default would be easy, shouldn't break anything, and would help prevent a large class of XSS attacks.

The other item that's

[2017-06-13 16:20] ncantelmo commented on #136
Following up on my previous comment, I ran into a slight issue updating `SetState` because it doesn't return an error. The problem is that `rand.Read` from `crypto/rand` can return an error, so generating a cryptographically secure random string from within `SetState` prevents that error from being returned.

Since changing the `SetState` signature isn't really an option, I came up with a workarou

[2017-06-13 18:47] markbates commented on #160
Sounds good. Can you do a PR for the `HttpOnly` flag and an update to the README?

[2017-06-16 04:06] bfosberry opened #162 "Support Battle.net Oauth"
https://dev.battle.net/docs/read/oauth

[2017-06-16 04:07] bfosberry opened #163 "Support Xboxlive oauth"
https://msdn.microsoft.com/en-us/library/hh243647.aspx

[2017-06-16 04:10] bfosberry opened #164 "Support player.me oauth"
http://docs.playermev2.apiary.io/#

[2017-06-16 04:14] bfosberry opened #165 "Support PSN/Sony developer Oauth"
Docs are hard to find on this..

[2017-06-16 14:11] bfosberry commented on #162
Im planning on adding all these oauth providers, unless there are any you dont think fit

[2017-06-16 14:18] markbates commented on #162
If people are going to use them, I think they're great to have.

[2017-06-16 14:35] bfosberry commented on #162
Im going to use them, but they are also something I can include in my own
codebase

On Fri, Jun 16, 2017 at 7:18 AM Mark Bates <notifications@github.com> wrote:

[2017-06-19 14:19] #162 closed

[2017-07-21 06:45] sio4 opened #170 "cannot logout properly without provider information"
Hello,

Goth stores its session information on session store with provider name, like `gplus_gothic_session` and logout function `gothic.Logout()` searches and uses the provider name for clearing the session.

So, the App using Goth must remember the provider used by current login per sessions (store in session or similar method), even though I do not care where they coming from.

I wonder why it

[2017-07-21 06:50] sio4 commented on #170
In my app, the user can have more than one authentication providers and can be logged in with one of them as they wish, so user database do not have the provider per users.
I also do not store the provider information per session because I do not care which one they use, so I wrote workaround like below:

[code]

[2017-09-21 20:43] farazfazli opened #176 "Seeing "OK" pop up when successfully authenticated on GPlus"
Hi,

I really love this library, works great. One small issue I'm facing is if a user is already logged in, they see a screen where it says "OK" with a link to the redirect URL. I'd like to get rid of this and redirect to the redirection URL immediately if a user is already logged in. Would really appreciate any help.

Thanks,
Faraz

[2017-09-21 20:59] m43stlin opened #177 "req.Context undefined"
/gothic.go:281

When building the go file an error is generated referencing a lack of field or method context for *http.Request.

[2017-09-21 21:00] markbates commented on #177
Goth requires Go 1.7+. That’s why you’re getting the error, you’re running an old version of Go.

[2017-09-21 21:00] #177 closed

[2017-09-21 22:49] mckaygerhard opened #178 "BUG: got a overflows init variable when session stored"
i got that error in
https://github.com/markbates/goth/blob/6c3a31e5f6aa001e8c3d6cec3f65d5bcc0240e69/examples/main.go#L59 , when compiling on 32bit and arm 64bit  filesystems got:

src/github.com/markbates/goth/examples/main.go:65: constant 9223372036854775807 overflows int

when the sesion id cookie stored into the variable

[2017-09-21 23:09] TheMangoTrain commented on #94
Hello, commenting as this was my issue today. Basically, all of your URLs need to match.

In my case, using Google:

After setting up Goth, my test (Google) login URL was "http://localhost:3000/auth/gplus", however this threw an error "could not find a matching session for this request". I couldn't understand why.

My callback URL as defined in the Google developer console was "http://www.lvh.me:3

[2017-09-22 12:49] TheMangoTrain opened #179 "Callback page template path issue"
After successful login with Google, the callback page is only partially loaded. The user details from Google seem to be 100% fine (printed to terminal).

The issue seems to be incorrect URLs in the Go template header, for CSS/JS files.

In my Go template, I use: `<link rel="stylesheet" href="../public/css/base.css">`, which would be the equivalent of: "http://www.mysite.com/public/css/base.css". T

[2017-09-22 23:21] TheMangoTrain commented on #179
Ok, simple fix.

Changed the path to "/public/css/base.css" rather than "../public/css/base.css". Using this pattern for loading all JS/CSS and images in my templates, and it works fine.

Sorry, this had nothing to do with Goth!

[2017-09-22 23:21] #179 closed

[2017-09-23 16:45] farazfazli commented on #176
@sio4 @ncantelmo @markbates @bryanl @willemvd Any idea? Would really appreciate your help!

[2017-09-23 17:25] willemvd commented on #176
Is this OK and redirect link on a Google page or delivered from your application?

[2017-09-23 17:29] farazfazli commented on #176
@willemvd it happens at /auth/gplus - shows just a link with text "OK" to go to the redirect URL I set in code..this page is rendered by the library

[2017-09-24 18:27] farazfazli commented on #176
@willemvd @sio4 @ncantelmo @markbates @bryanl Any pointers?

[2017-09-24 18:31] markbates commented on #176
@farazfazli I don't see anywhere in the goth code base where the text "OK" exists. I don't think this is a Goth issue, I certainly have never run into before. You'll need to provide more information. Where is this being "rendered by the library"?

[2017-09-28 01:41] netroby opened #180 "How about using var BaseURI replace http://localhost:3000"
The current example , using http://localhost:3000 very much inside the code.
Why not define a var ?

like `var BaseURI  = "http://localhost:3000"`

[2017-09-28 01:44] markbates commented on #180
Because it’s example code and has been cut and pasted for each provider.

[2017-09-28 01:44] #180 closed

[2017-10-05 23:33] terev opened #181 "Why logout after completing user auth?"
This line was breaking authentication for me when utilizing any store. What is the purpose of this line?

https://github.com/markbates/goth/blob/6c3a31e5f6aa001e8c3d6cec3f65d5bcc0240e69/gothic/gothic.go#L150

[2017-10-06 00:03] markbates commented on #181
It clears out the session cookie. If you don’t, you could end up with all sorts of issues when using multiple problems.

-----------
Mark Bates

On Oct 5, 2017, 7:33 PM -0400, Trevor Foster <notifications@github.com>, wrote:

[2017-10-06 00:14] terev commented on #181
Thanks for the reply!
I'm using Gin as my router. Can you see any issues that would arise using the single Gin context vs another router?

When compiling with that line left in, no sessions are being stored with any of the stores I've tried (redis, or cookie). As a result on auth callback I'm receiving the message `could not find a matching session for this request`.

[2017-10-06 00:18] markbates commented on #181
I don’t, sorry. That line is a defer, so it happens after everything else has run, and it’s not returning the error, so I’m curious to see what is. Make sure that the host of the page you are on matches the callback host you configured. Often, most OAuth errors are because of mismatched hosts.

[2017-10-06 00:27] terev commented on #181
[code]
Is my callback route. So I'm pretty sure its this in CompleteUserAuth:
[code]
After that returns that call to Logout would execute.

[2017-10-06 00:29] markbates commented on #181
I’ve seen similar problems if you try to access the session after that call. You don’t want to do that.

-----------
Mark Bates

On Oct 5, 2017, 8:27 PM -0400, Trevor Foster <notifications@github.com>, wrote:

[2017-10-06 00:44] terev commented on #181
It seems my session isn't even stored in the gorilla session registry when hitting my `/auth/spotify` route. `gothic.BeginAuthHandler(context.Writer, context.Request)` should register a new session in the store right?

[2017-10-06 00:50] markbates commented on #181
it should. it just wraps the gorilla sessions package, which is supposed to create a new session if one doesn't exist. maybe the cookies aren't be written? I don't know gin enough to say if there's something there or not.

[2017-10-06 00:59] terev commented on #181
The redis session store save method looks like this. Since Logout is called the session's max age is set to -1. As a result the cookie is never written. Not sure what's up with the base cookie session store though.
[code]

[2017-10-06 23:59] terev commented on #181
I propose the following as a solution:
[code]
Basically if there is no session to logout from then don't push the defer. I was wondering though is this not meant to be a long term session handler? Do we really need to remove the session from the store? Why not just delete the state cookie?

[2017-10-08 00:12] terev commented on #181
#182

[2017-10-14 01:55] fodawim opened #183 "Discord implementation does not work."
After implementing Discord auth you will receive the following error.

[2017-10-15 12:30] wachiu opened #184 "Gothic MaxAge becomes -1 for session"
I have been using gothic for a while. Recently, I found that MaxAge option for cookie store will be set to -1 even if I provided default Options for the cookie store. I have checked with gorilla sessions but it is not their problem so I think it has something to do with gothic.

Here is the code to reproduce the problem.

[code]

And I added a log just inside gothic.go
[code]

here is my output:
[

[2017-10-17 15:14] wachiu commented on #184
After adding more log to gorilla session package, I think it is the problem of gorilla dependency.

I did something like:
[code]
and the result is:
[code]

[2017-10-23 09:22] #181 closed

[2017-10-23 18:53] terev commented on #184
Hey this is the library itself cleaning up the session used for authentication. In CompleteUserAuth a call to Logout is defered which is used to cleanup the session from your chosen store. I noticed a similar thing in my issue #181. This is actually the correct behaviour though.

[2017-10-24 02:23] wachiu commented on #184
If it is the correct behaviour, it means it is supposed to return `could not find a matching session for this request` ? As I keep receiving this message, and I have to do something like this to make it works.
[code]

[2017-10-24 02:39] terev commented on #184
I submitted a pr with a fix for what I was seeing. The commit is in master but hasn't been tagged for a new release yet. Give the master branch a try to see if your issue is resolved.

[2017-10-24 02:40] wachiu commented on #184
OK. I will try it later today. Thanks.

[2017-10-24 13:51] wachiu commented on #184
Just tried it. The latest change by @terev solved the problem. Thank you. Please include it to next release. Since I am using dep, I have to manually `go get` the latest fix. 👍

[2017-10-24 13:51] #184 closed

[2017-11-15 18:29] amankapoor opened #185 "It was doing good in localhost, but not working after deploying"
I configured the system and it worked great on localhost, I had my client id and secret saved and my callback was http://localhost/auth/gplus/callback.

After publishing my code online, I was not able to login and realised that I did not change the callback url to http://mysitename.com/auth/gplus/callback. I made the change and also entered this new fallback url in the gothic or goth.New() functio

[2017-11-15 18:32] amankapoor commented on #185
I would also like to add that I also tried by creating a new project and using its client secret and id, but even that did not work.

[2017-11-15 18:33] markbates commented on #185
OAuth requires that all hosts be exactly the same. That means that the you need to make sure that the app you configured with Google has the same host as the callback URL you give Goth, which has to be the exact same host that you are making the request from. Check ALL three places to make sure they are configured correctly. If one of them is wrong, none of it will work.

[2017-11-15 18:41] amankapoor commented on #185
Suppose my site's name is example.com,
So,
1. it looks like this in the app.
[code]
2. Authorised Redirect URI is set to `http://example.com/auth/gplus/callback`

3. And I am making request from example.com only, and as soon as it visits example.com/auth/gplus, it redirects to
[code]
Do I need to enter my domain name anywhere else in developers console?

[2017-11-15 18:46] markbates commented on #185
I don't know enough about that platform to give you exact instructions, sorry.

[2017-11-15 18:47] amankapoor commented on #185
hmm, okay mark. I will try more.

[2017-11-15 18:47] #185 closed

[2017-11-28 04:38] rcholic opened #186 "Check whether a user is authenticated or not"
First of all, I'm new to `goth` but I think it is the perfect library I would like to use for adding third-party auth to my app. This is more of a question than an issue:

To restrict APIs to only authenticated users, I was wondering if there's an API to check whether the user has been authenticated. If not, I think we can check wether a session exists in the store, i.e.
[code]

[2017-11-28 12:12] markbates commented on #186
Goth handles authentication with 3rd party providers. It’s up to you to store that information in a way that makes sense to your app. That usually means saving a user record in your database and usually storing some sort of user if in your session. Goth doesn’t do any of that. The session store goth uses is for its own use during the oauth flow. It’s not for applications to use.

[2017-11-28 12:12] #186 closed

[2017-12-02 17:58] Aagat opened #187 "Twitter provider always redirects to Oauth authorization screen"
Logging in with twitter always redirects to Oauth authorization screen even when the user has provided authorization previously. This seems to the result of twitter API changing endpoint's behavior as announced here: https://twittercommunity.com/t/recent-changes-to-twitter-s-oauth-login-flow-and-api-endpoints/94943

[2017-12-10 18:12] BigBuckBunny commented on #176
Since this is still open, @farazfazli I had the same type of issue but mine was showing a link with 'Created' every blue moon. I inadvertently put http.StatusCreated instead of the 300 codes like in the example which has http.StatusTemporaryRedirect.

[2017-12-16 09:54] AucT opened #188 "on windows error Error: fork/exec go\bin\buffalo-goth.exe: The parameter is incorrect."
when i run from windows 10
buffalo generate goth facebook
i get error
Error: fork/exec go\bin\buffalo-goth.exe: The parameter is incorrect.

[2017-12-18 16:00] markbates commented on #188
This issue belongs in the https://github.com/gobuffalo/buffalo-goth repository, since it's a problem with the plugin, not Goth itself.

[2017-12-18 16:00] #188 closed

[2017-12-26 06:27] ace03uec commented on #160
This has been merged. This issue should be closed.

[2017-12-26 13:15] #160 closed

[2017-12-26 19:43] rchakra3 opened #189 "Handling Refresh Tokens"
Hi!

I've been reading through the code and I'm trying to understand if, and how, the `RefreshToken(token)` methods are being called.

My assumption is that calling those methods is something I would need to handle in my own code but I just wanted to make sure I wasn't missing something.

Appreciate the help! :)

[2018-01-05 07:55] Omustardo opened #192 "Example code not working: gorilla/sessions attempts to delete newly created session."
I'm attempting to get a basic example of google oauth working. As a base case, I tried running the example code provided in goth/examples but upon clicking the "Log in with Google Plus" button it responded with a text based web page saying:
"remove C:\Users\Omar\AppData\Local\Temp\session_: The system cannot find the file specified."

That error comes from a line in gorilla/sessions where the [Fil

[2018-01-10 14:52] terev commented on #189
These methods aren't used by the codebase. They seem to be utility methods available for refreshing an access token for a given provider. You have to call these manually with a refresh token to receive a new access token.
However most api clients will handle refreshing for you. For example https://github.com/zmb3/spotify uses the net/http package for making requests.

[2018-01-11 03:25] lsiv568 opened #195 "Example code failure: could not find a matching session for this request"
When running the example code with the linkedin provider (or any provider) I get the error `could not find a matching session for this request`.  After doing a bit of debugging I found that the only way the example works is if I remove the [defer in CompletUserAuth handler](https://github.com/markbates/goth/blob/master/gothic/gothic.go#L150).

I could completely be missing something but it appears

[2018-01-11 15:08] markbates commented on #195
Closing as it's a dup of #192

There's a problem with the gorilla file store, use the cookie store instead.

[2018-01-11 15:08] #195 closed

[2018-01-11 15:12] lsiv568 commented on #195
@markbates, I updated the example code to use the cookie store (after seeing #192).  I followed the example documented in the README to do this.  The issue is still present.  Thoughts?

[2018-01-11 15:48] markbates commented on #195
Do your hosts match? OAuth is very finicky about that sort of thing.

[2018-01-11 15:55] terev commented on #195
This is the issue I circumvented with my PR. It seems it was rolled back for some reason

[2018-01-11 16:05] lsiv568 commented on #195
The hosts do match.  I've tried using both localhost and a custom hostname locally via modifying my /etc/hosts file.  Not sure if the problem is due to running locally or not?  Using delve debugger I've pinpointed the problem to be with the defer taking place prior to the determining a session exists.

I updated the code to reflect @terev commit (https://github.com/markbates/goth/pull/182/commits/

[2018-01-14 01:37] barkerd427 opened #197 "`client_id` not being provided"
I'm certain I'm doing something wrong, but I can't figure out what. I was trying to configure gplus auth, and I kept getting a 400 from Google saying I was missing the `client_id` field in the request. I tried searching through the Goth code to find where this is being provided to see if there was an issue. Everything seems correct. I then decided to try the examples. When I follow the instruction

[2018-01-14 02:35] barkerd427 commented on #197
I was able to hardcode my id into my local copy of goth. The ID isn't being passed into the New method at all. I added some log entries to see if it was coming in at all. I will keep trying to get it in there somehow.

[2018-01-14 02:38] barkerd427 commented on #197
I figured it out. I wasn't entering it right from my side.

[2018-01-14 02:38] #197 closed

[2018-01-15 15:05] michalpristas commented on #163
this flow should be handled by onedrive package, (i did not test it, but auth URIs are the same)

[2018-01-16 19:14] bfosberry commented on #163
OOhh thanks I'll look into that

[2018-01-29 20:23] raylee commented on #195
Thank you @lsiv568 , updating gothic.go as per that commit worked for me as well.

[2018-02-02 21:34] markbates opened #203 "New Maintainer Needed ASAP"
https://blog.gobuffalo.io/goth-needs-a-new-maintainer-626cd47ca37b

[2018-02-03 13:32] SuperSandro2000 opened #204 "Update providers dropbox to v2"
Dropbox Api v1 is no longer supported and simple returns error code 400.
Would you kindly update it to v2?
File using the v1 api: https://github.com/markbates/goth/blob/master/providers/dropbox/dropbox.go
https://www.dropbox.com/developers/reference/migration-guide

[2018-02-03 17:39] adamo57 commented on #204
Hey! Thanks for the issue. I'll get right on that.

[2018-02-03 18:00] adamo57 commented on #203
it might also be worthwhile to have a list of those maintainers, so people dont ping you directly :) @markbates

[2018-02-03 18:06] adamo57 commented on #204
There might have to be some updates to the tests to prevent this from happening in the future, but that will be a separate issue. This PR, once merged, should get you moving again @SuperSandro2000

[2018-02-07 00:59] kswope commented on #181
This is somehow related to the example

[code]

I'm not sure I understand this example in goth/examples/main.go but notice above the call to CompleteUserAuth.  When you call CompleteUserAuth before BeginAuthHandler and keep the defer Logout, the session is broken and you get the error "could not find a matching session for this request".  If you comment the defer, all is well.  If you want to keep

[2018-02-09 16:56] bfosberry commented on #203
I can help out a little!

[2018-02-09 17:43] bentranter commented on #203
I'm happy to help out as well, though it's been a while since I've contributed to the project.

[2018-02-09 17:47] markbates commented on #203
Thanks, I've added you both to the repo.

[2018-02-09 22:44] NikolaeVarius commented on #203
I would like to help out, I've been wanting to get my hands dirty contributing to a golang project.

[2018-02-10 03:44] kswope opened #206 "Is this memory leak warning from gorilla sessions of any concern?"
[code]

http://www.gorillatoolkit.org/pkg/sessions

[2018-02-14 22:59] bentranter commented on #183
Tested this with my own credentials, and it seems to work fine.

I did some digging and for Discord, if the error that says `invalid_client`, the most common issue is that the `DISCORD_SECRET` is incorrect.

I'm going to close this for now, but feel free to reopen if there are still issues.

[2018-02-14 22:59] #183 closed

[2018-02-14 23:01] bentranter commented on #206
Honestly, I don't know. I believe it does, since we still use `gorilla/mux`, but I intend to do some digging once I've got some more time. See the discussion in https://github.com/gorilla/sessions/issues/121 as the same issue is mentioned there.

[2018-02-14 23:03] bentranter commented on #192
Another relevant (but closed) PR, for anyone else who might stumble upon this issue: https://github.com/markbates/goth/pull/199

[2018-02-15 02:27] #204 closed

[2018-02-15 14:55] bentranter commented on #36
While I did try to work on this for a bit (mind you it was nearly two years ago), the added effort to support the implicit grant flow in GopherJS is just not worth the added complexity to the library (in my opinion).

I think we should document that we don't support any flow which requires the application to read a URL fragment (which I think is still just the implicit grant flow), and if there ar

[2018-02-15 15:05] bentranter commented on #40
This should be fixed as of https://github.com/markbates/goth/pull/87, but I'm going to try this on AppEngine myself and see if I can either document how it'd work on AppEngine, or add it to a separate example in the examples folder.

[2018-02-20 08:27] qJkee commented on #203
@markbates
I can help you to maintain this repo!

[2018-02-20 17:02] bentranter opened #208 "Add Go 1.10 to Travis build"
As [Go 1.10](https://blog.golang.org/go1.10) was just released, we need to add support to the Travis build for testing on Go 1.10.

To do this, someone needs to:

1. Clone the repo.
2. Open the [.travis.yml](https://github.com/markbates/goth/blob/master/.travis.yml) file.
3. Between the `1.9` and `tip` values, add a value for Go 1.10. There's a gotcha here -- Travis will interpret `1.10` as either

[2018-02-20 20:35] Atul9 commented on #208
@bentranter I have opened up a PR for this

[2018-02-20 21:02] #208 closed

[2018-02-26 20:22] kevin-cantwell opened #211 "Dropbox provider does not supply RawData"
Most of the providers in this repo appear to fill in the `goth.User.RawData` field, but not dropbox.

This makes it impossible to parse out the dropbox account id, which is not set as the `goth.User.UserID` either.

[2018-02-26 20:24] kevin-cantwell opened #212 "Dropbox provider sets email for goth.User.UserID"
This line looks incorrect: https://github.com/markbates/goth/blob/v1.45.3/providers/dropbox/dropbox.go#L179

[code]

[According to the documentation](https://www.dropbox.com/developers/documentation/http/documentation#users-get_current_account), the correct field to use here from the raw data should be `account_id`.

[2018-02-27 15:59] aaronrosenberg opened #214 "Simple `auth/google` provider needed in addition to gplus"
Currently `gplus` is the only Google provider available for goth.   A simple google api is also needed for applications where Google+ features or Google+ accounts may not exist.

From the Google+ SignIn docs...   (https://developers.google.com/+/web/signin/)

*"Note: If you only want to sign in your users with their Google Accounts, and do not need to use any Google+ features, integrate Google Sig

[2018-02-27 20:01] s2t2 opened #215 "Crypto Rand"
I read at https://github.com/golang/go/wiki/CodeReviewComments#crypto-rand that `crypto/rand` should be used instead of `math/rand` for security reasons.

I notice that [`gothicRand`](https://github.com/markbates/goth/blob/12866fa2c65b81b6b7defe879dcd4af2477a9a29/gothic/gothic.go#L48) uses `math/rand` and I'm wondering how secure this is during [nonce generation](https://github.com/markbates/goth/

[2018-02-27 20:13] s2t2 opened #216 "OpenId Certification"
I notice Goth is not included in the list of [implementations certified by OpenId](http://openid.net/developers/certified/).

I'm not sure what the certification process entails, but certifying this library would most likely increase awareness of and confidence in this library.

The [OpenId Certification FAQs page](http://openid.net/certification/faq/) mentions benefits of certification:

The FAQ

[2018-02-28 02:21] adamo57 commented on #215
hmm, good catch. We should totally change that.

[2018-03-01 13:52] sloba88 commented on #192
After loosing a whole day on this issue I figured out what's wrong. First time that you get logged out (if the user is not in the session) global cookie setting is changed to -1 so you can't create a new cookies after this anymore.
https://github.com/markbates/goth/blob/f3fc9dc67dce1e3461e99247d756cccf09e9835d/gothic/gothic.go#L232

[2018-03-01 20:20] adamo57 commented on #212
is this issue fixed @kevin-cantwell

[2018-03-12 08:29] tboerger commented on #203
I'm also interested in helping out on this project.

[2018-03-12 21:37] bentranter opened #218 "OpenIDConnect's New method returns "Provider, error" instead of just "Provider""
For users of [Buffalo](https://github.com/gobuffalo/buffalo) along with the `openidConnect` provider, the default generated code will always contain an error. See this snippet:

[code]

The `goth.UseProviders` call expects *only* a `Provider` to be passed, but in the case of `openidConnect.New()`, we end up passing a `Provider` and `error` since that's what `openidConnect.New()` returns, so the co

[2018-03-19 19:47] bentranter commented on #215
Fixed in #220

[2018-03-19 19:47] #215 closed

[2018-04-12 22:15] #192 closed

[2018-04-19 22:25] bubenkoff opened #221 "No way to specify auth_type for facebook reauthentication"
more info: https://developers.facebook.com/docs/facebook-login/reauthentication

currently oauth2 config is a private field for facebook provider

[2018-05-17 18:04] BigBuckBunny opened #223 "App Review for Facebook Login"
Hi,

I have received notices that I have to get App Reviews,  might I suggest removing from the  endpointProfile string the link and location profile properties in facebook.go since these require an App review.

In the long run, or short, having a field to add more properties would be beneficial giving developers the option to request an App review and this would allow for less complications in de

[2018-05-26 10:33] shah opened #225 "Use goth for Hugo or other static site authentication?"
I was curious if anyone has used goth as a service for authenticating statically generated sites (e.g. Hugo) on Netlify or even custom hosts. The idea is that certain pages in a static site might need auth/authz and those pages would be sent to goth for authentication.

Googling around didn't seem to turn up anything so any quick pointers would be helpful

Thanks!

[2018-05-28 19:50] bentranter commented on #225
For Netlify, using Goth is not possible, as Goth only implements the server-side Oauth2 flow. In the Netlify documentation, they mention that using their SDK with the Oauth2 implicit grant flow is possible -- you can see an example of that in [this example provided by Netlify](https://github.com/netlify/netlify-oauth-example).

For custom hosts, of course! If you're serving your own static site wi

[2018-05-28 19:52] bentranter commented on #211
I believe this is fixed in the merged PR that is linked. Closing.

[2018-05-28 19:52] #211 closed

[2018-06-02 16:09] shah commented on #225
Thanks @bentranter I ended up using oauth2_proxy on Digital Ocean to solve this for now. You're right that Netlify wouldn't work in this case. Luckily my site is mostly internal and doesn't need high performance so I'm good for now.

[2018-06-03 02:54] bentranter commented on #225
You're welcome @shah, glad you solved your issue 🙂 I'm going to close this, but feel free to re-open if you have any other questions.

[2018-06-03 02:54] #225 closed

[2018-06-14 08:04] thomasmodeneis commented on #101
anyone having any ideas how to integrate wechat ?

[2018-07-03 03:12] drnic commented on #94
For my own future reference, I got this error when I started my app at http://localhost:9393 but was redirected back to http://127.0.0.1:9393 (`App().Host` was returning `127.0.0.1`). The issue when away when I started with http://127.0.0.1:9393 in the browser.

[2018-07-06 08:15] gedw99 opened #228 "New Maintainer"
Did you get a Maintainer ?

[2018-07-06 12:50] bentranter commented on #228
Yeah, myself and @adamo57 have been maintaining it for the past while, but we could always use more.

[2018-07-06 13:01] gedw99 commented on #228
Will do my best. I am using this with buffalo and so will make PR's for anything I hit

[2018-07-06 13:01] #228 closed

[2018-07-06 13:02] gedw99 opened #229 "Plugin"
Is this going to move to be a buffalo plugin ?

[2018-07-06 14:15] bentranter commented on #229
There's already https://github.com/gobuffalo/buffalo-goth if you're looking for a plugin.

[2018-07-06 15:32] #229 closed

[2018-07-06 15:32] gedw99 commented on #229
Ah that's exactly what I was wondering !

On Fri, 6 Jul 2018, 16:15 Ben Tranter, <notifications@github.com> wrote:

[2018-07-11 00:25] EvilVir opened #231 "OpenID Connect parser expects audience claim to be always single string"
Today I needed to connect Gitea, which is using goth module, with JetBrain's Hub service for authorization. I used OpenID Connect provider but found out that Hub is returning array of strings as the audience (aud) claim.

I was able to patch my instalation to support this but as this was my first ever piece of code I've seen in golang it's probably far from being perfect (for instance it only chec

[2018-07-15 22:29] derblitz opened #232 "no SESSION_SECRET environment variable is set"
When running the referenced example and clicking on one of the authentication methods (e.g.: twitter), the following error appears in the terminal window:

"goth/gothic: no SESSION_SECRET environment variable is set. The default cookie store is not available and any calls will fail. Ignore this warning if you are using a different store."

Is the example still up to date?

[2018-07-21 15:43] bentranter commented on #232
Yeah, the example is up to date. The default session store is [Gorilla's `sessions.CookieStore`](https://godoc.org/github.com/gorilla/sessions#NewCookieStore), and requires a key to be set when the store is created. This is mostly for convenience in the code for the examples. You can use any `Store` provider in your own application.

[2018-08-14 00:16] boazj commented on #232
The default session store is created in the package init, so either set the env var externally or replace the default session store using
`gothic.Store = sessions.NewCookieStore([]byte("<your secret here>"))`

[2018-08-18 17:26] ernestoalejo commented on #231
I use a custom OpenID Connect server implemented in Go, that uses [this library](https://godoc.org/gopkg.in/square/go-jose.v2/jwt#Claims) to serialize the audience and by default [it's a slice](https://godoc.org/gopkg.in/square/go-jose.v2/jwt#Audience). Even when having only one audience it directly serializes to a list.

You can see here:
  http://openid.net/specs/openid-connect-core-1_0.html#IDT

[2018-08-20 05:51] kobayashi opened #236 "Option for changing facebook image size"
Retrieved facebook's image is small size (height: 50px, width: 50px).
Is there an option to change the retrieved image size?

[Facebook Graph API ](https://developers.facebook.com/docs/graph-api/reference/user/picture/) provides multiple image urls by specifying picture type.

[2018-08-21 12:57] cyantarek opened #237 "Custom user model"
I have already defined a user model, how can I use it with Goth instead of Goth's default user struct?

[2018-08-22 22:11] danielbprice opened #238 "gothic: Attempt to get Provider Name from go context probably shouldn't use a string key"
Right now, the final attempt to determine the provider name is as follows, in gothic.go:

[code]

In trying to get gothic to play nicely with labstack/echo, I wanted to use the go-context to pass along the provider name-- basically transferring c.Param("provider") into the context.  However, attempts to do so result in go-lint errors (_Should not use basic type string as key in context.WithValue_)

[2018-08-29 23:39] danielbprice opened #239 "auth0: how to get JWT as the Access Token? (aka: how to add things to the AuthURLParam() call)"
Auth0 can hand out either an opaque Access token, or a JWT (see .  The latter is used to grant access to APIs the user defines.

To do so, it seems to be the case that one must:
- Set the "audience" in the provider to match the API defined in auth0
- Specify API scopes

If you get all of this lined up, auth0 will hand you out a JWT access token.  However, there doesn't seem to be support in goth's

[2018-09-27 19:06] ecuellog opened #241 "Fetching User using Facebook returns an error because bio field is deprecated"
When getting a user using FetchUser and printing the user to the console I get:
`OAuthException: (#12) bio field is deprecated for versions v2.8 and higher`

Issue was fixed when I deleted the bio field from the endpointProfile.

`endpointProfile string = "https://graph.facebook.com/me?fields=email,first_name,last_name,link,id,name,picture,location"`

But maybe the authURL should include the versi

[2018-09-27 19:16] bentranter commented on #241
As this package is primarily for authentication, I don't see a need for the `bio` field, so I'm ok with removing it.

I don't have a Facebook account (and refuse to get one 😛), so it would awesome if someone could tackle this, verify that it works, and submit a PR.

As suggested above, the likely fix is updating line 25 of [`github.com/markbates/goth/providers/facebook/facebook.go#L25`](https://gi

[2018-10-01 23:37] u5surf commented on #241
“bio” in User node has depricated from v2.8
https://developers.facebook.com/docs/graph-api/changelog/version2.8/#gapi-deprecate-user

But the end point in master branch of this repos is not include “bio” now. I could confirm work well facebook providers using example of this repos with default endpoint.

And, graph api uses the oldest version if you don’t indicate explicitly their version.
https:/

[2018-10-09 17:32] wingedrhino commented on #214
A little late to this issue, but the _gplus_ endpoint works even if you don't have a Google+ Profile.

[2018-10-10 20:20] danielbprice commented on #214
With [Google+ going away](https://www.blog.google/technology/safety-security/project-strobe/), this seems a bit more urgent-- maybe google will keep the API endpoint around, but it seems like it will be hard for people to work out that this what they want to use with Goth.

[2018-10-10 20:38] bentranter commented on #214
The API endpoint that Goth currently uses with the `gplus` provider is the same as Google's OAuth2 package for Go, as far as I can tell.

In [`golang.org/x/oauth2/google`](https://godoc.org/golang.org/x/oauth2/google#pkg-variables), you have the following variable containing the endpoints,

[code]

and in [Goth](https://github.com/markbates/goth/blob/master/providers/gplus/gplus.go#L20-L21) we've

[2018-10-10 20:50] aaronrosenberg commented on #214
Thanks Ben, that's awesome.  It may seem cosmetic - but I think a name change would do a world of good.

[2018-10-11 20:59] bentranter commented on #231
@jesselegg We had https://github.com/markbates/goth/pull/240 to support Gitea a while ago, which improved the way we handle the audience claim (it changed it to allow both strings and slices of strings). Could you check to see if you're using the latest version of Goth?

[2018-10-11 21:07] bentranter commented on #19
Closing this due to age, feel free to re-open if it's still an issue.

[2018-10-11 21:07] #19 closed

[2018-10-11 21:11] bentranter commented on #36
Closing this due to age, and also because I don't think it's worth attempting to support the implicit grant flow in a primarily server-side language. Perhaps in the future with WebAssembly, it'd be worthwhile, but not right now.

[2018-10-11 21:11] #36 closed

[2018-10-11 21:11] bentranter commented on #40
Closing this due to age, feel free to re-open if it's still an issue.

[2018-10-11 21:11] #40 closed

[2018-10-11 21:12] bentranter commented on #76
Closing this due to age, feel free to re-open if it's still an issue.

[2018-10-11 21:12] #76 closed

[2018-10-11 21:14] bentranter commented on #92
Closing this due to age, feel free to re-open if it's still an issue. Personally I don't think Goth should support SAML, considering there are other dedicated Go libraries for SAML, but if folks feel differently, we can consider it.

[2018-10-11 21:14] #92 closed

[2018-10-11 21:15] bentranter commented on #100
Closing this due to age, feel free to re-open if it's still an issue.

[2018-10-11 21:15] #100 closed

[2018-10-11 21:16] bentranter commented on #120
Closing this due to age, feel free to re-open if it's still an issue.

[2018-10-11 21:16] #120 closed

[2018-10-11 21:19] bentranter commented on #136
Closing this due to age, feel free to re-open if it's still an issue. Also, I'm comfortable with the CSRF protection as of #159.

[2018-10-11 21:19] #136 closed

[2018-10-11 21:20] bentranter commented on #163
Closing this due to age, feel free to re-open if it's still an issue. Pretty sure this is done with the OneDrive package though, as mentioned.

[2018-10-11 21:20] #163 closed

[2018-10-11 23:42] jesselegg commented on #231
@bentranter Oh great... I am running Gitea 1.5.2, which was pushed a couple of days ago. However, it appears that the Gopkg.toml constrains the version of goth to 1.45.5, which doesn't include this fix (looks like you landed it in 1.46.1). I will try to build a custom version of Gitea with the goth dependency updated...

[2018-10-12 23:34] bentranter commented on #178
Closing this due to age. I actually think this was a bug with gorilla/sessions that was resolved earlier this year. I'll re-open if anyone else runs into this.

[2018-10-12 23:34] #178 closed

[2018-10-12 23:35] bentranter commented on #232
This was fixed in #217.

[2018-10-12 23:35] #232 closed

[2018-10-12 23:36] bentranter commented on #212
Gonna close this as fixed in #213, we can re-open if it becomes an issue again.

[2018-10-12 23:36] #212 closed

[2018-10-16 01:48] bentranter commented on #231
Looks like this is fixed as of https://github.com/go-gitea/gitea/pull/5078.

[2018-10-16 16:03] #214 closed

[2018-10-16 17:10] sio4 commented on #176
Hi @farazfazli @BigBuckBunny
I guess it is because of both the behavior of your browser and your callback handler just responsed with mis-selected response code. OK for 200, and Created for 300. Basically 200 is not redirection code so you should use 3xx. But 300, depend on browser, browser ask user's choice.

There are so many 3xx and its definitions are different, and behavior of broswers are al

[2018-10-17 00:06] bentranter commented on #231
Going to close this as I think it's fixed, and I'm trying to reduce the number of open issues in this repo in general. Feel free to re-open if there are more issues as of Gitea's linked update, or if this continues to be an issue with the OpenID provider.

[2018-10-17 00:06] #231 closed

[2018-10-19 19:36] ecuellog commented on #241
@u5surf I had an older version of this package in my vendor folder, which had "bio" instead of "about".

[2018-10-19 19:36] #241 closed

[2018-11-23 11:57] andrearizzello opened #252 "Facebook oauth unable to remove scope"
We are doing a project where a user can authenticate through facebook, the problem is that we don't know how to remove the scope, since we don't need it.
We need to remove this `&scope=email+first_name+last_name+link+about+id+name+picture+location` from the url

[2018-11-23 17:11] bentranter commented on #252
This sounds related to the comment in https://github.com/markbates/goth/pull/246.

If you could open a pull request for this @andrearizzello, that would be much appreciated, as I have no Facebook account and am not able to manually test them as an authentication provider.

[2018-12-19 10:28] baloo32 opened #257 "LinkedIn provider - API changing by March 1 2019"
Received email from LinkedIn Developers program that they are forcing migration to version 2.0 of their APIs by March 1, 2019.

This forces use of OAuth 2.0 authentication/authorization as well as changes to API endpoints and data availability from profiles.

More info at https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/sign-in-with-linkedin

[2018-12-19 17:50] bentranter commented on #257
Thanks for the heads up @baloo32, I'll look into it sometime in the next week or so

[2018-12-21 10:55] yshuman1 opened #258 "Support Stripe Oauth"

[2018-12-28 04:47] SuperSarkar commented on #181
How do I retain a logged-in session? I should maintain another session for that?

[2019-01-08 02:29] cocodrino opened #264 "you must select a provider"
Hi @markbates , I'm very noob here, I'm trying to follow your tutorial http://www.metabates.com/2014/10/15/goth-multi-provider-authentication-for-go/

but using chi instead of gorilla
but I get this error
**you must select a provider**

goth is intended to be used just with gorilla or can be used with chi too?

my code is this
[code]

thank you so much

[2019-01-08 14:38] bentranter commented on #264
Hey @cocodrino,

You can use Chi as a router, although the routes with the `/auth/{provider}` and `/auth/{provider}/callback` routes won't work as expected with Chi.

Internally, Chi parses the `{provider}` variable differently that Gorilla Mux or Pat. As a result, Gothic doesn't know how to read the value of this variable in its `gothic.CompleteUserAuth` and `gothic.BeginAuthHandler` functions, s

[2019-01-08 15:01] cocodrino commented on #264
thank you so much @bentranter , works perfect!!!...have a nice day :+1:

[2019-01-08 15:01] #264 closed

[2019-01-08 15:11] bentranter commented on #264
You're welcome @cocodrino, you as well 🙂

[2019-01-09 03:58] kobayashi commented on #236
Added this feature by #263

[2019-01-09 03:58] #236 closed

[2019-01-09 04:09] kobayashi commented on #223
Hello,

You can customize fields with `SetCustomFields` right now. (goth >= v1.49.0).
Here is a sample.
[code]

[2019-01-10 22:42] BigBuckBunny commented on #223
Thank You

[2019-01-31 19:17] tsdtsdtsd opened #267 "VK provider added twice in example"
VK provider added here:
https://github.com/markbates/goth/blob/6120c3bdb1bf48e64c7a4d385f164d63e0f65d4e/examples/main.go#L117

and also 2 lines below:
https://github.com/markbates/goth/blob/6120c3bdb1bf48e64c7a4d385f164d63e0f65d4e/examples/main.go#L119

[2019-01-31 19:31] bentranter commented on #267
I think this is from the PR that added support for the Yandex provider, probably due to a bad rebase/GitHub making it difficult to view all changes throughout the PR review process.

If anyone would like to submit a PR for this, I'd be happy to merge it.

[2019-01-31 22:34] #267 closed

[2019-02-02 03:54] uncled1023 opened #269 "OpenID Connect Auth URL returning wrong domain"
I am currently running into an issue within Gitea and think I have isolated it to goth.

Gitea is instantiating a new OpenID Connect provider, and calling GetAuthURL to get the auth URL to redirect to.

This seems to work just fine when debugging via localhost, but once I put  it on my server, the auth URL's domain changes to the git domain (auth.example.com/connect/authorize -> git.teknik.io/conn

[2019-02-02 06:43] uncled1023 commented on #269
Never mind, was able to follow it along enough, and it's getting through your library and producing the correct URL.

[2019-02-02 06:43] #269 closed

[2019-02-09 04:04] kaihendry opened #270 "Not setting auth cookie"
I expected Goth to set a cookie and it doesn't, so I am very puzzled.

https://github.com/unee-t/internal-github-login/tree/goth
https://github.dev.unee-t.com/

It doesn't appear to. Furthermore I don't understand how you are supposed to validate the user's token is authorized. Are there more worked out examples, than https://github.com/markbates/goth/blob/master/examples/main.go please? Couldn't

[2019-03-07 20:39] mihiwarrior2 commented on #257
Hi Ben, just wondering if you got a chance to look into this?

[2019-03-15 15:23] is2ei commented on #270
@kaihendry
I guess Goth's cookie is for internal use.

https://github.com/markbates/goth/commit/9885e531187c65b2228660f30074bde565f93d3f#diff-61a370b1e72c6044c498a0fd700448c9

I think the "try to get the user without re-authenticating" part in the example.go does not work anymore...

https://github.com/markbates/goth/commit/a1fc3f65a0a8229b5e597a542b0fccedddbf71e1

[2019-05-16 20:38] poVoq opened #278 "OpenID Connect generic, specify endpoints?"
I am trying to connect my Gitea instance with Mattermost, but it seems like Mattermost does not implement the auto discovery via .well-known

See also: https://docs.mattermost.com/developer/oauth-2-0-applications.html

Is there a way to easily manually specify the endpoints or maybe add Mattermost support to this library?

Thanks!

[2019-05-24 13:50] baloo32 commented on #257
I got bored on a day off - see PR https://github.com/markbates/goth/pull/279 for update to new V2 LinkedIn provider.

The changes implemented in this new version mean we no longer have access to the user.Location and user.Description fields.

I also cannot exhaustively test the mapping of FirstName and LastName for the Localized field and there preferred locale settings - in my limited testing it

[2019-05-24 13:57] baloo32 commented on #270
As @is2ei says - the goth cookies are internal and only used as part of the auth flow. Your own application must maintain its own session/authentication state from the data provided back after calling gothic.CompleteUserAuth.

Suggest storage of AccessToken and (possibly) RefreshToken to allow subsequent use if you need to call the IdP to obtain further info.

[2019-05-24 14:34] bentranter commented on #257
Thanks a lot for this @baloo32, totally forgot about this issue until now. I'm gonna close this and cut a new release.

@mihiwarrior2, if there're any issues that you find with the updated implementation, feel free to re-open.

[2019-05-24 14:48] bentranter commented on #270
To wrap this issue up, yeah, the Goth cookie set by the `gothic` package is used to store and later validate the nonce used in the `state` parameter. It shouldn't really be used for authentication, but I understand that's not really obvious.

It's something I'd like to change in the future, but this package has been around for a long time and I don't want to change any of the APIs. I think moving

[2019-05-24 14:48] #270 closed

[2019-05-24 14:48] #257 closed

[2019-05-24 14:52] bentranter commented on #278
@poVoq We currently don't support auto-discovery for the generic OpenIDConnect provider, but because you're using Gitea, maybe the recent addition of the Gitea package that supports custom URLs could help you? See https://github.com/markbates/goth/blob/master/providers/gitea/gitea.go#L52.

If not, we'd definitely welcome a PR to add auto-discovery to the existing OpenID package.

[2019-05-24 18:17] poVoq commented on #278
That change would be for connecting to Gitea.

What I am trying to to is connect to Mattermost from Gitea.

Maybe this is the wrong place to ask, if indeed there is no auto discovery, but the error message I am getting is that Gitea (with goth)  attempts to autodiscover the settings from Mattermost, which is not supported. Manually setting the parameters is not possible from within Gitea.

[2019-06-04 17:55] laf0rge commented on #278
At osmocom.org we also run our onw OAuth provider (part of redmine).  It would be great if a user could specify arbitrary OAuth endpoints via some kind of configuration file without having to recompile related code.

Having shared identity/authentication between different websites/services is great.  However, in terms of privacy I would always argue that there should be one such provider per entit

[2019-06-13 05:58] komalsukhani opened #280 "salesforce provider doesn't support salesforce community"
I was trying to set up SSO for salesforce community using salesforce provider. Goth has hardcoded links for authorization and token endpoint. There should be a way to specify community links.

As salesforce now does support openid-connect flow, a possible fix could be we follow the same workflow as openid-connect provider. Instead of using value of `subject` field as userId, fetch value of `user_i

[2019-06-17 22:59] kkirsche commented on #258
To expand on this, Stripe is an online payment company which supports OAuth2 via the Connect platform. The Stripe Oauth documentation may be found at: https://stripe.com/docs/connect/oauth-reference

This provides example URLs, such as:

[code]

[2019-06-17 23:01] kkirsche commented on #165
I haven't tried it, but you may be able to leverage parts of https://github.com/larabros/oauth2-psn

Both projects (oauth2-psn and goth) are MIT licensed, so there shouldn't be a license compatibility issue

[2019-06-18 01:57] #280 closed

[2019-06-19 09:14] pierre-vigier opened #283 "OpenID Connect and default http Client"
In the OpenID Connect provider, it's not possible to change the http Client used to fetch the discovery url.

[code]
Setting `openidConnect. HTTPClient` after new will not work as the call to the Discovery endpoint is done within the new function by calling `openIDConfig, err := getOpenIDConfig(p, openIDAutoDiscoveryURL)`

Happy to work on a PR, but i am not sure how to approach that, i could crea

[2019-06-19 22:02] boskiv opened #284 "[Question] Link multiple providers"
Is it possible to link multiple providers to one user account (with a password for example)?

[2019-06-19 22:09] bentranter commented on #284
Hey @boskiv, unfortunately that's outside the scope of what Goth can do. Goth's primary purpose is to handle the OAuth2 flow for various providers – the rest is up to your own application.

[2019-07-22 17:52] deefdragon opened #285 "Add Paramaters to oauth, or make oauth config in provider public"
I am attempting to use the twitch oauth for multiple accounts. The way to do this is via a parameter in the request.
Unfortunately, there is no way as it stands to add said parameter. Would it be possible to set the config as public or add a method that allows for this?

[2019-07-27 16:44] Xeoncross commented on #131
As for the backwards compatible approach Both gorilla/mux and httperouter can use `context.Content` to find route parameters. I've [done a simple context.Values check in my "mid" middleware](https://github.com/xeoncross/mid/blob/master/hydrate.go#L80-L94).

[2019-08-15 19:24] huntrar opened #287 "Twitch v3 API shutdown"
The Twitch v3 API is now undergoing scheduled outages precipitating a full shutdown. For now the twitch provider must be updated to the v5 API (which is also deprecated), and eventually to their newest API.

[2019-08-15 19:25] bentranter commented on #287
Thanks for reporting this @huntrar, I'll see if I can work on this soon.

[2019-08-15 21:15] #287 closed

[2019-08-29 03:31] howie opened #289 "Azureadv2 provider does not mapping email info correctly"
Azureadv2 provider does not mapping email info correctly, and the email  field will be nil.
The email info should mapping from RawData["userPrincipalName"]

[2019-09-04 16:11] tylerstillwater opened #290 "Add support for Apple Oauth"
My company has need of the new "Sign in with Apple" functionality.

https://developer.apple.com/sign-in-with-apple/

I'll give it a stab and submit a PR at some point soon.

[2019-09-17 18:11] jalcine opened #291 "Adding support for IndieAuth"
[IndieAuth](https://indieauth.spec.indieweb.org/) is a flexible way to sign in to sites and services on the Web using your own personal Website. I'd like to gauge interest in contributing a patch for said support so I can use it in something like [Gitea](https://gitea.io) and other projects that are self-hosting friendly.

[2019-09-20 12:27] juanscolari commented on #290
@tylerb do you have any WIP/Draft for this feature to show us?

[2019-09-23 15:19] tylerb commented on #290
Not yet. I'm hoping to get something up this week.

[2019-10-01 21:15] ruiyang2015 opened #292 "azureadv2 provider to support single tenant sign in"
the current azurereadv2 provider only allow the predefined tenants
`common, organizations, consume`, but does not allow a specific tenant ID for the sign in, we will need to support the single tenant case, an easy way to enable this is to make the
`azurereadv2. ProviderOptions. Tenant ` to be a string type instead of special TenantType type.

[2019-10-01 22:06] #292 closed

[2019-10-07 16:50] guilhermehubner commented on #290
@tylerb any update on it?

[2019-10-07 17:34] tylerb commented on #290
Unfortunately not. Things have been crazy at work and I've not had a chance to get to this. Still fully intend to, though. One of our other developers may jump on it.

[2019-10-31 21:06] cadethacker opened #296 "Add the id_token to the User struct"
I would be nice if the User struct has the id_token.  It already has the access_token and the refresh_token after calling `FetchUser(...)`

The User object already has quite a few other items that are not required by all.  So adding more more attribute seems within bounds.

This would seem to be an easy change.  I'll get a Pull Request together...

[2019-10-31 23:07] #296 closed

[2019-11-10 11:31] loockeeer commented on #183
Hello ! I'm getting the same error as fodawim.
[code]
I have this code and I'm getting `{ error: 'invalid_client' }`

I don't know why, and if someone can help me to fix this bug, I would be very grateful to him for that.

Thank you in advance, Looockeeer.

[2019-11-11 15:59] bentranter commented on #183
I just ran this manually on master, seems like our Discord implementation is still okay.

@loockeeer, it doesn't look like you're using Goth, so I don't think there's much I can do to help you. That said, there are two things I'd review to try to track down the source of your error:

1. If the error occurs at the step where the user is redirected to the auth code URL, you've probably got an invali

[2020-01-09 12:53] cyantarek opened #304 "Question: Does Goth support password based authentication?"
Sorry, but I didn't find anything related to password in the providers list. That's why I asked here.

[2020-01-09 16:23] bentranter commented on #304
Hey @cyantarek, no, Goth does not – it only support OAuth and OpenID based authentication.

[2020-01-09 16:36] #304 closed

[2020-01-10 14:29] cyantarek opened #305 "Error: "Can not find a matching session for this request""
Using Echo framework

[code]

[2020-01-14 22:03] #238 closed

[2020-02-01 18:45] #305 closed

[2020-02-01 19:47] cyantarek opened #310 "How to use JWT with Goth?"
Hi, by default goth uses cookie store. But I don't want to use cookie or session based authentication. Rather, I want to use JWT only.

So, how can I turn off session, cookies in Goth in order to use JWT only?

[2020-02-04 04:01] zinefer opened #311 "Github `access_token` query parameter is deprecated"
https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters

It is recommended to use the Authorization HTTP header instead.

[2020-02-04 04:19] caryyu opened #312 "Can someone help add a alicloud provider?"
According to [alicloud OIDC oauth document](https://help.aliyun.com/document_detail/93698.html?spm=a2c4g.11186623.6.659.871ed19eTLMYvg)(Sorry, Chinese only):

The userinfo from alicloud is different from what `Goth openidConnect` provider required, thus, can someone add a dedicated provider for alicloud oauth?

What alicloud returns:
[code]

[2020-02-04 20:45] techknowlogick opened #313 "[GitHub API] Deprecation notice for authentication via URL query parameters"
Using the `access_token` query parameter is deprecated.

https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters

I believe this is where the query param is being added:
https://github.com/markbates/goth/blob/master/providers/github/github.go#L108

[2020-02-05 06:18] techknowlogick commented on #313
Dupe of #311

[2020-02-05 06:18] #313 closed

[2020-02-10 08:49] oscarlofwenhamn opened #316 "decodeJWT should decode base64url"
Since JSON Web Tokens (afaik) are encoded using base64url by default, the decoding method should reflect this.

https://github.com/markbates/goth/blob/8a9b88125edf10f2441ec2cc9aa6f40c39e50186/providers/openidConnect/openidConnect.go#L398-L402

Could instead be simply

[code]
since base64url has no padding.

Alternatively, a check to correct base64url-encoded tokens that translates them to a padded

[2020-02-13 03:18] leopku opened #319 "[Feature Request]Adding support for Keycloak"
Keycloak is an Open Source Identity and Access Management solution for modern Applications and Services.
The repo is [here](https://github.com/keycloak/keycloak).

[2020-02-14 11:10] chnliyong commented on #316
Good job!
I just found this problem（using `gitea` which depends `goth`).

[2020-02-14 11:38] chnliyong commented on #316
@oscarlofwenhamn I just noticed there's one line in `base64.go`
[code]

[2020-02-14 13:42] oscarlofwenhamn commented on #316
@chnliyong Same here, also found it while using Gitea, and an external identity provider which sends JWTs.

Most often it would work, but for a small number of users their JWT token includes the URL safe characters `-` and `_` instead of `+`and `/`, causing a decoding error. Finally we figured out where the problem stemmed, and now we would need it fixed here in upstream so we don't have to write

[2020-02-17 16:47] dolanor commented on #181
I have the same question as @SuperSarkar.
I thought I could use `_gothic_session` to handle authentication+authorization.
So if I got it right, the `gothic.CompleteUserAuth()` is just to get every information about the user from the provider, so that we can save what we want/need in our own session/cookies.
That `_gothic_session` is just to handle a state long enough to do the auth to the provider

[2020-02-22 05:19] zhangfuwen opened #320 "undefined: SetCurrentUser undefined: Authorize"
I generated a new buffalo project, and ran `buffalo-goth goth-auth github`. I first encountered an error which said:

```gobuffalo/buffalo@v0.14.11/render/template_helpers.go:21:23: cannot use "github.com/gobuffalo/helpers/tags".JS (type func(string, "github.com/gobuffalo/tags/v3".Options) "html/template".HTML) as type func(string, "github.com/gobuffalo/tags".Options) "html/template".HTML in field

[2020-02-22 23:52] chnliyong commented on #320
Maybe you should post this issue to the buffalo project.

I also new to `buffalo` too. Maybe you can try the `buffalo fix` command. I use the `buffalo-goth` to generate OpenID Connect(provider `openid-connect`) code a few days ago, there's no error occurred.

[2020-02-22 23:58] chnliyong commented on #319
As **Keycloak** support standard `OpenID Connect`, the `openidConnect` provider works.

The only problem now is the `openidConnect` has a `decodeJWT` bug pending fix by this issue: https://github.com/markbates/goth/pull/317

[2020-02-24 15:22] #316 closed

[2020-02-24 15:23] #311 closed

[2020-02-24 15:41] bentranter commented on #181
Hey @dolanor, yes, that's right. `_gothic_session` only exists to handle the OAuth2 state parameter handling, and should not be used for more than that. You should use your own cookie/session for user auth.

[2020-02-24 15:43] bentranter commented on #320
Hey @zhangfuwen, like @chnliyong said, I think you're better off posting this issue on the buffalo project. I'm not a buffalo user myself, and it looks like the error you have is on buffalo's side, so you may be able to get more help there. I'm going to close this for now, but feel free to reopen if you think this is an issue with Goth.

[2020-02-24 15:43] #320 closed

[2020-02-24 15:46] oscarlofwenhamn commented on #319
#317 has been merged and the connected issue #316 closed.

[2020-03-13 02:02] nedenwalker opened #324 "[Feature Request] Adding Strava Provider"
Strava is Athletics tracking with Social Media features built in: https://www.strava.com

Authentication information: https://developers.strava.com/docs/authentication/

PR: https://github.com/markbates/goth/pull/323

[2020-03-13 15:23] bentranter commented on #324
I've merged the PR and created v1.62.0 which includes this, so I'm going to close this issue. Thanks for your contribution @nedenwalker!

[2020-03-13 15:23] #324 closed

[2020-03-13 16:19] nedenwalker commented on #324
Sweetness! Thank you :)

[2020-03-27 14:48] dusansimic commented on #305
Hi @cyantarek. Did you solve this issue? I have the same issue with Gin Gonic framework. Do you know if this is framework related or is there something else?

[2020-03-27 17:48] cyantarek commented on #305
@dusansimic , yeah. You need to aware of "localhost" vs "127.0.0.1"

[2020-03-29 19:04] mar1n3r0 opened #326 "Google callback - 400 bad request"
I am fairly sure this worked last time I tried it but for some reason it's not anymore.

The app is running on a local minikube cluster. The setup is exactly as per the example.

Oauth2 credentials and authorized domain URI created in Google Console and working.

The flow works as expected until after the consent screen. As soon as I consent I get three consequent requests triggered:

Gothic sessi

[2020-03-30 09:36] mar1n3r0 commented on #326
Works with localhost without minikube which proves the problem is with docker network overlay. Closing as server-related and not a goth issue.

[2020-03-30 09:36] #326 closed

[2020-04-04 19:50] zulhfreelancer opened #327 "Facebook: how reauthorization will work in goth?"
I'm using Goth in my Buffalo project and I wonder how Goth handles reauthorization. [According to Facebook](https://developers.facebook.com/docs/facebook-login/auth-vs-data#authentication-expiration), the authentication expiration is 60 days.

I tried to change my laptop's date to next 3 months to test it but I didn't managed to perform the FB auth due to this HSTS configuration on FB side:

![fb]

[2020-04-07 14:38] bentranter commented on #319
Closing this, as it appears this has been resolved. Feel free to reopen if this continues to be an issue.

[2020-04-07 14:38] #319 closed

[2020-04-07 16:07] bentranter commented on #310
Goth's purpose is to support the OAuth2 (and OpenID) authentication protocol. The library `gothic` included in Goth provides some convenience methods for session and cookie based auth, but you don't need to use it.

To use JWT (or any other user authentication), you can create and respond with a JWT after handling the OAuth callback:

[code]

[2020-05-01 16:21] ianlopshire opened #329 "Twitter Provider Race Conditions"
The Twitter provider fails tests when the `-race` flag is set.

After a closer look, this is a result of how the tests are written and not an actual race condition in the provider implementation.

Removing the calls to `t.Parallel()` should resolve this issue.

### Steps to Reproduce

[code]

#### Result

[code]

[2020-05-01 16:24] ianlopshire opened #330 "Xero Provider Race Conditions"
The Xero provider fails tests when the `-race` flag is set.

After a closer look, this is a result of how the tests are written and not an actual race condition in the provider implementation.

Removing the calls to `t.Parallel()` should resolve this issue.

### Steps to Reproduce

[code]

#### Result

[code]

[2020-05-01 16:32] ianlopshire opened #331 "Add Instagram Basic Display API Provider"
The existing Instagram API is deprecated and will be Sunset on June 29th, 2020.

The replacement is the [Instagram Basic Display API](https://developers.facebook.com/docs/instagram-basic-display-api). This is an entirely new OAuth provider.

One potential issue I see is the naming of the provider. We will want to keep the existing Instagram provider in place.

[2020-05-02 19:39] bvwells opened #334 "Go report card"
I noticed a couple of minor typos (#333) and was wondering whether it is worth adding go report card as I suspect that this would have highlighted these minor issues.

More than happy to open a PR if you want it added.

P.S. Nice repo, it's a really helpful resource!

[2020-05-02 20:01] bvwells commented on #334
Added a PR, but more than happy to abandon if this is not needed.

[2020-05-04 14:39] bentranter commented on #334
I think it's useful, especially for me to track any changes over time. Thanks for that PR!

[2020-05-04 14:39] #334 closed

[2020-05-04 14:40] bentranter commented on #330
Thanks for the report (and the for the other one) – I'll fix these at some point this week.

[2020-05-08 14:05] nikita-vanyasin opened #338 "VK provider returns error for users with empty 'email' field"
Hi
I've encountered an issue where `vk` provider will return "Cannot fetch user email" error for users which doesn't have this field filled in their VK profile.
I can't see why this is treated as an error and I think it should be fixed.

I can do a pull request fixing the issue but not sure what is the best way to implement it.
Fixing it directly in `vk` provider will probably break compatibility

[2020-05-21 23:34] AndriiAndrus opened #342 "[Twitch][Gin] Can't fetch user information"
After successful twitch sign in i was redirected to my website, the error occurred on the user fetch state. It might be GET values parsing error because i use GIN?

http://127.0.0.1:3000/auth/twitch/callback?code=codeishere777777777777&scope=user_read&state=manycharacters

Error: twitch responded with a 401 trying to fetch user information

[2020-05-21 23:50] AndriiAndrus commented on #342
I'm using this demo code:

[code]

[2020-05-27 22:44] gotomgo commented on #342
Twitch updated their OAUTH and now require that a Client-ID header appear for all helix requests.

So add this to the req in FetchUser:
	req.Header.Set("Client-ID", p.config.ClientID)

See here for more info:
https://discuss.dev.twitch.tv/t/requiring-oauth-for-helix-twitch-api-endpoints/23916

[2020-06-04 11:28] jum opened #345 "CallbackURL change at auth time?"
I am having the problem that the CallbackURL is not really fixed until being called in the context of the login, e.g. while in the handler for the button performing the login. Currently each of the providers has it's own implementation of that field and it is not exposed to the generic Provider interface, making it a pain to change at runtime. Would it be acceptable to move that to the generic Pro

[2020-06-05 15:20] jum commented on #345
Ok, after some more studying of the code I see that the CallbackURL cannot really be changed after initializing the provider. I am thus postponing the allocation of my providers until request time, where I am sure about the CallbackURL.

[2020-06-05 15:20] #345 closed

[2020-06-14 11:43] stishenok commented on #342
#346

[2020-06-21 15:53] watercraft opened #348 "getting a meaningful error out of oauth token exchange"
I've successfully used goth library, however, I found that
golang/x/oauth2 eats the server's useful error during Exchange() returning:
{code}oauth2: server response missing access_token{code}
... instead of, for example:
{code}invalid_team_for_non_distributed_app{code}
I used this patch to oauth2 to get the error returned:
{code}diff --git a/vendor/golang.org/x/oauth2/internal/token.go b/vendor/go

[2020-06-24 01:00] cyantarek opened #349 "How to use Goth with gRPC?"

[2020-07-16 10:55] alemNative opened #350 "Cant add one scopes on facebook-providers except "email""
// works
`facebook.New(os.Getenv("FACEBOOK_APP_ID"), os.Getenv("FACEBOOK_APP_SECRET"), os.Getenv("BASE_URL")+"/oauth/facebook/callback"),`

// works
`facebook.New(os.Getenv("FACEBOOK_APP_ID"), os.Getenv("FACEBOOK_APP_SECRET"), os.Getenv("BASE_URL")+"/oauth/facebook/callback","email"),`

// dosnet works
`facebook.New(os.Getenv("FACEBOOK_APP_ID"), os.Getenv("FACEBOOK_APP_SECRET"), os.Getenv("BASE_UR

[2020-07-16 10:56] alemNative commented on #350
`func newConfig(provider *Provider, scopes []string) *oauth2.Config {
	c := &oauth2.Config{
		ClientID:     provider.ClientKey,
		ClientSecret: provider.Secret,
		RedirectURL:  provider.CallbackURL,
		Endpoint: oauth2.Endpoint{
			AuthURL:  authURL,
			TokenURL: tokenURL,
		},
		Scopes: []string{
			"email",
		},
	}

// email is in defaultScopes
	defaultScopes := map[string]struct{}{
		"email": {}

[2020-07-17 14:10] nhi-vanye opened #351 "Access Tokens returned but no raw data (on-prem gitlab)"
Successfully logged in using GitHub and google

Version 13.1.4 of gitlab-ce
[code]

<img width="789" alt="2020-07-17_15-05-27" src="https://user-images.githubusercontent.com/17260552/87795024-64ed7580-c83f-11ea-8f3c-db9e3a25e32c.png">

[2020-07-24 08:33] nikita-vanyasin opened #352 "Google Oauth fails in rare cases"
Sometimes `gothic.CompleteUserAuth` returns error for Google Oauth  and I'm not sure what does that mean.

Successfull login callback:
[code]

Failing login callback, same user:
[code]

As you can see there is `authuser=0` parameter in second case. I wasn't able to find what does that mean. Probably user haven't  provided valid credentials on Google Login page. But I can't see why gothic returns e

[2020-07-24 09:40] golightlyb commented on #352
I've seen authuser in Google Cloud Console before, it's the picked account when you're logged into multiple accounts and switch between them - starting with 0 for the first account, 1 for the second, 2 for the third, etc.

[2020-08-04 01:15] kylehqcom commented on #331
Locally I need to connect to the new Instagram graph flow too. As documented here https://developers.facebook.com/docs/instagram-basic-display-api/getting-started

So I have duplicated the existing provider and made changes as follows

Updated the scopes to use by default the `user_profile` and `user_media`.
Request a "long lived" token as soon as a "short lived" is returned
Altered the user value

[2020-08-06 20:24] osamu329 commented on #351
I had same issue in gitlab.com.

Maybe you need to pass `"read_user"` as scopes arguments of [gitlab.New()](https://github.com/markbates/goth/blob/v1.64.2/providers/gitlab/gitlab.go#L48).
It seems that `api` scope needs to be granted in GitLab application setting when you don't specify any scopes in the function, but I think this behavior is a problem on GitLab.

GitLab version: GitLab Enterprise

[2020-08-06 20:42] nhi-vanye commented on #351
That didn't seem to work for me...

[2020-08-12 12:34] leopku opened #353 "[help wanted]New OpenID Connect throwed "invalid character 'S' after top-level value"."
[code]

Error occurred as below: `"invalid character 'S' after top-level value"`

The openid provider is KeyCloak.

I am new to goth, anyone can help me? Thanks a lot.

[2020-08-12 13:00] #353 closed

[2020-08-18 21:56] andradei opened #354 "[Question] Where does ProviderIndex come from in the example?"
https://github.com/markbates/goth/blob/1e0d698f202778abc5bf20e88cb5b3e7cd052d48/examples/main.go#L209

Where is that type defined?

[2020-08-18 21:57] andradei commented on #354
Oh, the type was defined at the bottom of the file :)

[2020-08-18 21:57] #354 closed

[2020-08-20 16:19] andradei opened #355 "azureadv2 won't request a client_id token"
I used example.go as a base, the program authenticates, but after that it doesn't save a session, I think it doesn't make a request to the token endpoint.

[2020-08-20 16:25] andradei commented on #355
Here is the code:

[code]

[2020-08-26 15:09] yelskiy commented on #331
@kylehqcom Don't know if you got any requests for the PR, but I'm blocked by the same issue, so I think a PR would be great!

[2020-08-26 17:45] kylehqcom commented on #331
Hey @yelskiy, you're not completely blocked, you can use the code above  and place into your project. eg

[code]

I am using this to connect all ok locally, not in production. Still not prime time as I needed for a side project.

[2020-08-26 17:55] yelskiy commented on #331
Thanks @kylehqcom! I should have mentioned in my comment that I _am_ using the code you provided for my local development to keep moving forward.

[2020-09-14 11:32] wunderkind2k1 opened #360 "State validation when using "sign in with apple" (sometimes) broken"
# Description
If I try to sign in with apple and the scopes "name" and "email", the login is not working.

# Analysis/ Fix
Apple uses a POST callback, when we use "name" or "email" scope. This results in the state encoded in the form parameter instead of url. The current implementation fo GetState does not change its behaviour if the callback is sent with POST instead of GET. This results in an er

[2020-09-19 11:30] OmmyZhang opened #362 "Add support for Mastodon OAuth"
Doc: https://docs.joinmastodon.org/client/authorized/

[2020-09-19 11:34] OmmyZhang commented on #362
some key endpoint:
auth: `<domain>/oauth/authorize`
token: `<domain>/oauth/token`
userinfo: `<domain>/api/v1/accounts/verify_credentials`

The scopes could be `[read]` or `[read:accounts]`.

[2020-10-01 01:27] techknowlogick commented on #362
I've just created a PR for this.

[2020-10-01 14:49] #362 closed

[2020-10-01 14:55] bentranter commented on #362
Thanks @techknowlogick. I'm going to fix our CI process (it seems that Travis doesn't want to report the status anymore), and then I'll cut a new release with your change.

[2020-10-01 15:36] techknowlogick commented on #362
Thanks @bentranter :) If you ever need any help (reviewing PRs, fixing CI, etc..) let me know. I'm one of the project leads of Gitea and we make pretty heavy use of Goth so I'm happy to contribute back.

[2020-10-06 10:02] stupidly-logical commented on #355
Were you able to get this done?

[2020-10-06 22:21] bentranter commented on #362
Released in v1.65.0. And thanks @techknowlogick – I actually don't have admin privileges to the repo, so I can't add new collaborators, but I would love to add you. I'll see if I can contact Mark to get you added.

[2020-10-06 22:50] bentranter opened #367 "Tests fail with -race enabled"
### Overview

Our test suite fails with the race detector enabled. It seems that there are at least two issues in the test suite related to race conditions.

### How to fix it

1. Clone this repo.
2. Run the test suite with the -race flag: `go test -race ./...`.
3. Fix any issues reported by the race detector (seems like they affect the Xero and Twitter providers).
4. **BONUS** Update our GitHub A

[2020-10-06 22:54] bentranter opened #368 "Complete upgrade to Go 1.15"
### Overview

According to our `go.mod` file, the supported version is Go 1.14. We should update to it to 1.15.

### How to fix it

1. Clone this repo.
2. Ensure you're running Go 1.15.
3. Update the Go version to 1.15 in `go.mod`.
4. Open a pull request with your changes.

[2020-10-06 22:55] bentranter opened #369 "Goth fails gofmt"
### Overview

The repo currently fails the `gofmt` check, meaning that the codebase doesn't adhere to the Go coding standards.

### How to fix it

1. Clone this repo.
2. Run `gofmt -s -w ./` from the root of the repo.
3. Open a pull request with your changes.
4. **BONUS** Update our GitHub Actions CI workflow to include a `gofmt` check. This will require you to add a new step. Something like,

[co

[2020-10-06 23:18] techknowlogick commented on #368
1.15 is already in the go version matrix of Github Actions CI workflow

[2020-10-06 23:23] bentranter commented on #368
Thanks @techknowlogick, I must've been thinking about a different repo when I wrote the description. I'll update it so that the only change necessary is in the `go.mod` file.

[2020-10-07 06:08] mukulrawat1986 commented on #369
Hi, I would like to work on this.

[2020-10-07 06:09] techknowlogick commented on #369
@mukulrawat1986 please see #371 there is already an existing PR for this.

[2020-10-07 06:29] suntala commented on #368
Hi 👋
I would like to work on this issue. May I please be assigned to it?

[2020-10-07 14:47] #369 closed

[2020-10-07 14:49] #329 closed

[2020-10-07 14:49] #330 closed

[2020-10-07 14:49] #367 closed

[2020-10-07 14:50] bentranter commented on #368
Sure @suntala, I'll assign this to you, although this type of issue tends be popular during Hacktoberfest, so I can't guarantee that someone else won't work on it before you do.

[2020-10-07 18:44] suntala commented on #368
Thanks @bentranter!

[2020-10-07 22:20] #368 closed

[2020-10-14 18:54] mightyguava opened #374 "go.mod update"
Not exactly sure what dependency change made this happen, but if I use okta `v1.65.0`, a bunch of unrelated dependencies get forced to a newer version in my app. Snapshot of `go.mod` in the app

[code]

Normally this would be OK, but it seems that protobuf has actually gone up a major version from v1.4.1 to v1.4.2, so code that uses protos now get the error

[code]

I confirmed that `v1.64.2` is f

[2020-10-20 15:43] HammerMeetNail commented on #221
Bumping this. Are there any plans to implement something similar to the `SetPrompt()` method found in the Google provider? It would be nice to allow users to on sign in choose which account to authenticate with. Right now a user cannot switch Facebook accounts if they've already logged in once and their token is still valid, even if their session has been cleared.

[2020-10-23 15:56] paullen opened #375 "Unable to parse POST form on callback"
I've implemented a provider with a callback endpoint according to the example implementation, with the exception of `p.Post("/{provider}/callback", ...)` instead of `p.Get("/{provider}/callback", ...)`.

Everything works perfectly if I remove the `params.Encode()` check because it always returns a key/value pair which is fair given the `/{provider}/callback` endpoint. But how is the form supposed

[2020-11-02 05:56] wunderkind2k1 commented on #290
Isn't this done?

[2020-11-02 05:57] wunderkind2k1 commented on #290
I think this issue can be closed - what do you guys think?

[2020-11-03 16:24] JoshKCarroll opened #376 "Add provider for OuraRing"
Add provider for the OuraRing API, which uses OAuth2

https://cloud.ouraring.com/docs/authentication

[2020-11-03 16:27] JoshKCarroll commented on #376
In case this doesn't get merged and someone else sees it later, I have also written a minimal provider which can be imported and used with this library, see `github.com/qntfy/goth @ v0.0.8`

[2020-11-04 15:25] RubenGarcia commented on #133
I am also affected.

[2020-11-06 22:01] #376 closed

[2020-11-06 22:03] bentranter commented on #376
Released in [v1.66.0](https://github.com/markbates/goth/releases/tag/v1.66.0)

[2020-11-09 20:06] wunderkind2k1 commented on #375
Hey - this might help you https://github.com/markbates/goth/pull/356/files#diff-7af721a4e5a3fd8edfcb3f884f51ec3bc62c718a6fd1013f85ecb0c9b256691c You need to update the getState function to parse POST request..

[2020-11-13 03:19] andradei commented on #355
No. I had to write the code from scratch myself. It is mostly complete, I only need to figure out how to verify the JWT once the authentication process is finished.

[2020-11-20 15:45] snyder-riley-pfg commented on #355
Seeing the same thing here, I implemented a "require auth" middleware and it seems after you navigate away from the login success page everything is lost and I am required to constantly log in.

[2020-11-22 10:04] d1ss0nanz commented on #355
Been there. That's what I came up with:
`func validateAccessToken(token *jwt.Token) (key *rsa.PublicKey, err error) {
	claims, ok := token.Claims.(jwt.MapClaims)
	if !ok {
		return nil, errors.New("access_token: invalid claim format")
	}
	if strings.HasPrefix(claims["iss"].(string), "https://login.microsoftonline.com") {
		kid := token.Header["kid"].(string)
		var keyString string
		keyString, err

[2020-11-23 00:24] brittonhayes opened #378 "Okta available as a provider but missing in README.md"
Hey there 👋 Noticed that [Okta is an available provider as listed in the GoDocs]( https://pkg.go.dev/github.com/markbates/goth/providers/okta) and [has an associated example](https://github.com/markbates/goth/search?q=okta) but it isn't documented in the [README.md](https://github.com/markbates/goth/blob/master/README.md).

Love the project! Here's a [relevant PR to fix this](https://github.com/ma

[2020-12-09 17:46] #378 closed

[2020-12-15 01:46] leopku opened #381 "What is the best practice to take goth working with SPA project especially for callback after login?"
As of more and more separation of front-end and backend, SPA was more popular today.
After trying some times, I found some bad smell in my process when jumping back to callback url.

I tried two solutions,
1. Callback url was provided by goth.
  Firstly jumping back to goth and complete user auth. Then goth jump back to SPA with customized JWT token in URL params.
  User would got a very long url

[2021-01-02 17:07] newro commented on #360
Hi, I'm interesting this issue.
This issue seems to be resolving, when will it merge?

[2021-01-13 17:37] dexter1918 commented on #195
How can I update the code as I am facing the same issue?

[2021-01-13 17:37] dexter1918 commented on #195
How can I update the code?

[2021-01-26 17:22] yaronius commented on #360
Hi @markbates @bentranter, any news on this? This is a nasty issue. And the fix is quite simple and obvious.

[2021-01-26 17:26] yaronius commented on #290
@markbates @bentranter please close

[2021-01-27 21:30] yyewolf opened #394 "Weird issue in gothic.go"
[code]

The last line (located at line 158) needed in my case to be commented out, for some reasons this happened if it was left by default :

1. Connect to Discord.
2. Accept their OAuth2.
3. Go to callback.
4. Callback redirects to main page.
5. Main page thinks you're not logged in because it logged you out due to this line.

Not sure why it happened but I thought that it would definitely help

[2021-01-29 14:33] bentranter commented on #394
Hey @yyewolf, thanks for opening this.

The issue you ran into has been around for a while. There's currently an open PR for it, but I'm going to cut a separate release for that today. As far as I understand, the fix causes other issues, but with the amount of reports we've got for this one, I think it's worth trying out a solution.

I'll update this issue once the release is cut.

[2021-01-29 14:33] #290 closed

[2021-01-29 14:36] #360 closed

[2021-01-29 14:46] bentranter commented on #375
Hey @paullen, this should be addressed as of the latest release [v1.67.0](https://github.com/markbates/goth/releases/tag/v1.67.0). I'm going to close for now, but please re-open if you continue to experience this issue.

[2021-01-29 14:46] #375 closed

[2021-01-29 14:47] #310 closed

[2021-01-29 14:48] bentranter commented on #360
Released in [v1.67.0](https://github.com/markbates/goth/releases/tag/v1.67.0).

[2021-01-29 14:55] bentranter commented on #394
Released in [v1.67.1](https://github.com/markbates/goth/releases/tag/v1.67.1). Please feel free to reopen @yyewolf if you're still running into this issue with the latest release.

[2021-01-29 14:55] #394 closed

[2021-01-29 14:57] bentranter commented on #195
I've tried to fix this again in the latest release *[v1.67.1](https://github.com/markbates/goth/releases/tag/v1.67.1)) based on the changes in #385.

[2021-02-04 08:55] #381 closed

[2021-03-09 03:14] #285 closed

[2021-03-29 00:18] jrapoport commented on #349
for anyone that finds this and is curious, you can find an example of it here: https://github.com/jrapoport/gothic

[2021-03-31 03:09] lrstanley opened #401 "discord oauth2 always forces authorization prompt (even if previously approved)"
the current Discord oauth2 flow does not provide a `prompt` GET parameter during the redirect to Discord. As such, the default flow for Discord is to always prompt to validate the flow, even if the user has **already previously approved the provided scopes**.

I don't think this should be the default behavior for this library. If the user has already approved the scopes, it should just seamlessly

[2021-06-03 15:42] ygworldr opened #403 "Testing auth handler with apitest"
I am trying to test the auth handler (gorilla mux):

[code]

I mean, it is simple enough that I probably do not need a test for it but nonetheless, I want one for reasons… The test code is

[code]

This fails with the "you must select a provider" message. I thought the callback URL might be wrong so I changed it to `127.0.0.1` but got the same error.

What am I doing wrong?

[2021-06-05 23:45] FluffyKitty0 commented on #401
This would be great, I'm going to get a PR sent in with this change.  It seems that not much is going on right now (last commit was quite some time ago) but this is a relatively simple change, hopefully we can get it pushed through.

[2021-06-05 23:50] FluffyKitty0 commented on #237
Just save the data in Goth's struct to your own model.  Goth doesn't handle saving data, that part is up to you!

[2021-06-05 23:54] FluffyKitty0 commented on #342
This has been merged and the issue has been resolved.  This should be closed.

[2021-06-06 00:49] lrstanley commented on #401
I ended up moving away from goth and manually going through the oauth flow with discord, since I only need Discord auth. I do something along the lines of:

[code]

where config is the oauth2 client. I think goth uses the
same oauth2 client in some form (on my phone atm so can't easily check). maybe something similar could be done?

[2021-06-06 04:02] FluffyKitty0 commented on #401
It seems to be something around this line:

https://github.com/markbates/goth/blob/19c3059c9ed44995940c8222a8eda10f6b604e01/providers/discord/discord.go#L190

Possibly some kind of get parameter declaration, not sure...

Once again, if anyone more familiar with Goth could chime in, the help would be greatly appreciated.  I'm not familiar with how everything here is designed and I don't have time t

[2021-06-14 02:13] HammerMeetNail opened #404 "Support for iOS?"
Hello,

We currently use Goth for the web Oauth flow, but are porting our webapp to iOS with capacitor. Is there any way to configure Goth to work on mobile?

The web flow for Google requires an http redirect uri, so we can't trigger a redirect to an iOS universal link from Goth, e.g., can't open an app on redirect. Has anyone hit this issue? How did you work around it?

We've toyed with the idea

[2021-06-16 18:16] bentranter commented on #404
Hey @HammerMeetNail,

There currently isn't a way to configure Goth to work on mobile, at least in a way that provides sufficient security guarantees (as far as I know – I'm not very familiar with the current standards or best practices for OAuth on mobile devices).

Goth lacks support for the PCKE challenge (see the [nice description](https://www.oauth.com/oauth2-servers/pkce/) or the [RFC](https

[2021-06-17 04:58] jarrodhroberson opened #406 "How do i get the AccessToken, RefreshToken from the Google Provider to store them for later unattended server side use?"
I am trying to write something that accesses a Google API on a schedule on behalf of a Google user account.
I need the AccessToken, RefreshToken, Expiry, etc that is part of the Google Provider "Session" so I can store them for later use.

I can not find any examples of how to access this information, or if it is even possible.

I am trying everything but I can not figure out the magic incantation

[2021-06-26 15:31] pascalbros commented on #349
Here a working example:

[code]

[2021-06-27 08:00] rakesh-eltropy opened #408 "Name not available in the contributors list.."
@markbates  I contributed a lot in the project in 2016. Today, I was randomly checking in the contributor list to find out that I was not there. I had introduced refresh token and added around 10 different providers (Amazon,Box,Onedrive,Salesforce and Yammer providers etc).

Could you please throw some light on this.

[2021-06-28 14:49] bentranter commented on #408
Hey @rakesh-eltropy, sorry about this – if you would like to open a PR to add yourself to the list, I'd be happy to merge it. If not, I can add you sometime later this week.

[2021-06-28 18:05] techknowlogick commented on #408
Yeah, that's rather odd. You are marked as a collaborator on this project, however no commits are associated to your user: https://github.com/markbates/goth/commits?author=rakesh-eltropy

[2021-07-05 14:20] simonpoole commented on #149
OSM now has OAuth 2.0 support, I don't think there is any documentation at this point, but it may make things easier.

[2021-07-16 16:37] rodrigo-brito opened #410 "Error when get user from provider"
I'm using Goth to authenticate with Google, Facebook, and Apple. In most cases, it works perfectly, but I'm having a problem with a small number of users who get the following error: `could not find a matching session for this request`

The error happens when validating with the provider, right after receiving the callback. I saw some open issues mentioning that it may be related to the callback U

[2021-07-16 17:23] techknowlogick commented on #410
Please fill in the issue template, it provides us information so we can help you better.

[2021-07-19 14:31] SyedMuzamilM opened #411 "Not Working with the gin framework"
This lib is not working with golang. It is showing `you must select a provider`. But I am providing a provider....

[2021-07-23 19:37] duncan-truss opened #412 "The jwt-go dependency is no longer maintained w/ vulernabilities and should be migrated to golang-jwt/jwt or similar"
GitHub has released a [security vulnerability](https://github.com/advisories/GHSA-w73w-5m7g-f7qc) affecting the unmaintained [jwt-go](https://github.com/dgrijalva/jwt-go) library.  Seeing as it won't be getting any patches it probably makes sense to migrate to the cloned successor [golang-jwt/jwt](https://github.com/golang-jwt/jwt) version 3.2.1

[2021-07-24 14:52] #412 closed

[2021-07-24 14:55] bentranter commented on #412
Fixed in [v1.68.0](https://github.com/markbates/goth/releases/tag/v1.68.0). Thanks for the report!

[2021-07-26 18:49] duncan-truss commented on #412
That was quick, thanks for addressing it!

[2021-07-27 12:39] stipkovich commented on #401
Finally found a thread regarding this issue. Thanks!

I'm trying to find where to add this `&prompt=none`. I've added it to the `$authorizeURL = 'https://discord.com/api/oauth2/authorize/?prompt=none';` line in my script to no avail. I still get the prompt every time. Can you advise where, precisely, we add the `&prompt=none`?

Thanks!

Discord newbie,

Aaron

[2021-07-27 16:16] lrstanley commented on #401
Make sure the URL it is trying to redirect to actually has it, and if the parameters are malformed in some way. Providing it in the authoriseURL may break the GET parameters.

Just went back through my code before I refactored, and this is what I had, which I believe worked without issue, though a bit hacky:

[code]

This will essentially take the generated URL, and appends the `prompt` GET parame

[2021-07-28 13:15] mackrorysd commented on #411
I was able to modify the example to work correctly on Gin. I suspect you're just not getting the provider parameter correctly. You'll probably need to post code for help spotting why.

[2021-07-29 01:06] tardisx opened #414 "discord provider requires "identify" scope"
This might be a fairly naive problem on my behalf, this is fairly new to me.

I have successfully used the google provider with just the "email" scope.

When I try the same with discord, when the callback is called I get an error:

    discord responded with a 401 trying to fetch user information

I suspect the returned body of the request made in FetchUser has something interesting, but I'm not f

[2021-08-02 13:41] vborovok commented on #411
@SyedMuzamilM you can do it like so
[code]
but i agree, its not clear without example

[2021-08-03 06:26] PuneetPunamiya opened #416 "How to use Goth With React Applications"
Currently goth does all the authentication on a single port. I have a use case where the user will click
on a button on UI which is React Application saying `Sign In With Github`  and other buttons with other
provider name  running on a different port. UI will send request to goth server and goth server should retun
user details once authenticated

In short
React Application running on port 3000
!

[2021-08-03 06:28] PuneetPunamiya commented on #416
@bentranter  Could you please take a look at this once ??

[2021-08-19 16:31] ryan-berger opened #419 "Add ClassLink Provider"
The organization I work for heavily uses goth, so we wanted to contribute back with a ClassLink provider that we will be using in future releases of our product.

It is available on https://github.com/SenorWoolyLLC/goth/tree/classlink

The provider is nearly ready to go (still some documenting/testing to do) but I wanted to open this issue as a heads-up so that no one else implements it.

In order

[2021-08-20 22:02] ryan-berger commented on #419
Just finished ClassLink up. Code available in #421 :tada:

[2021-08-22 19:39] FM1337 opened #422 "SCS Store Support?"
Is it possible in the future that support for scs (https://github.com/alexedwards/scs) could be added so that you could use that library rather than being forced to use gorilla?

[2021-09-02 04:05] iateadonut opened #423 "feature request: supported provider: monday.com"

[2021-09-05 17:13] FM1337 commented on #422
Nvm, I'm dumb. Took 14 days to figure out actually how to properly use this.

[2021-09-05 17:13] #422 closed

[2021-10-13 04:17] PuneetPunamiya commented on #416
@apoorvcodes  thanks for this but this is still for a go web application right. My use case was separate ui application and a separate server which uses goth

[2021-10-19 14:30] Evert-Arends opened #429 "Disable warning on startup?"
Hello,

I would like to disable the warning that is shown for no SESSION SECRET. Is this possible? I looked into the source and I don't think it is possible, but who knows.

Best regards

[2021-10-21 09:31] justman00 opened #430 "Auth0 provider doesn't attribute all the values to goth.User"
Hey,

so I noticed that Auth0 is sending some more data back, e.g:

[code]

but the provider seems to be reading only [these values](https://github.com/markbates/goth/blob/master/providers/auth0/auth0.go#L35):
[code]

I want to know if other values, such as **family_name** or **given_name** are not parsed on purpose because they can be left empty by **Auth0** or if it was just overlooked?

[2021-10-26 03:54] huntrar opened #431 "Twitch v5 API shutdown"
From Twitch, regarding the v5 API:

I will submit a PR for this by February, but others may feel free to do it ahead of me.

[2021-11-11 17:07] hsluoyz commented on #416
@PuneetPunamiya maybe you can try Casdoor: https://github.com/casbin/casdoor

Here's a forum program demo: https://forum.casbin.com/ , click the "Sign In" button and you will get something like:

![image](https://user-images.githubusercontent.com/3787410/141339295-58517c39-a95a-4df2-a281-6bcc93c13ab0.png)

[2021-11-20 16:58] tsawler opened #433 "Problem logging out"
Hello:

Perhaps I'm not understanding things correctly, but I'm not certain that logout is working the way that I think it does.
I have no problem logging in (I'm testing things using GitHub), and I understand that goth's cookie only exists long enough to handle the authentication through GitHub, but when I log a user out like this:

`gothic.Logout(w, r)`

The user does not actually appear to be l

[2021-11-20 20:38] tsawler commented on #433
You can ignore this. I see that this is the norm for OAuth. I blame this misunderstanding on insufficient caffeine.

[2021-12-14 05:23] tn185075 commented on #378
@brittonhayes Were you able to use OKTA provider successfully?

[2021-12-18 22:24] ansidev opened #435 "Strava: Invalid scope"
Code:
[code]

Reproduce:
1. Uncomment line
[code]
2. Run `go run main.go` and open http://localhost:4000
3. Click on the link that has the text "strava".
4. The redirect URL is: `https://www.strava.com/oauth/authorize?client_id=...&redirect_uri=http%3A%2F%2Flocalhost%3A4000%2Fauth%2Fstrava%2Fcallback&response_type=code&scope=activity%3Aread+activity%3Aread_all&state=nY0GtwcCjYq1WWZ4MPlfbHM2_at-oB9

[2021-12-18 22:53] techknowlogick commented on #435
@ansidev could you send a PR to update this?

[2021-12-19 04:33] dustin-decker commented on #264
Another way to solve this is to set the context value with Chi's URLParam value:

[code]

[2021-12-19 04:57] dustin-decker commented on #406
I think the `user` variable within the callback handler should have the attributes that you want: https://github.com/markbates/goth/blob/master/examples/main.go#L221

[2021-12-21 04:01] brittonhayes commented on #378
@tn185075 Hey! I'm honestly not sure. It's been so long since I was involved in the project that I just don't remember.

Sorry I can't be more helpful😕 Just didn't wanna leave you hangin. Hope you're able to get this working!

[2021-12-21 04:10] tn185075 commented on #378
Thanks for the reply.

[2021-12-29 18:58] ansidev opened #436 "Support Deauthorize/Revoking"
Many OAuth2 providers support deauthorizing/revoking user access token. We should support it.

Ex:
Google: https://developers.google.com/identity/protocols/oauth2/web-server#httprest_8
Facebook: https://developers.facebook.com/docs/facebook-login/permissions/requesting-and-revoking#revokelogin

[2021-12-30 06:25] ayaanqui opened #437 "BeginAuthHandler prints error instead of returning the error"
https://github.com/markbates/goth/blob/9dc8905b41c845fa22b7ecd3fb8f079dac3e923e/gothic/gothic.go#L68

I was wondering why this line prints to the console, since the function could simply return the error so that the user of the library can handle the error. I'm still new to this library and Go in general, so maybe there's more to it, but I wanted to point it out regardless. Thanks!

[2022-01-04 19:44] andig commented on #181
I just happened to stumble across the same "problem". It would be great to have an e2e example including logged-in state and logout.

[2022-01-05 11:48] 6543 commented on #348
have you tryed to bring this upstream?

https://github.com/golang/oauth2/issues

[2022-01-13 07:38] prabhuomkar opened #440 "Support for Twitter OAuth2 or State Parameter in OAuth"
- Is there a possibility we can get support for Twitter OAuth2
- Currently my use case is to set `state` parameter and OAuth 1.1 by Twitter does not support that

If there are any workarounds available in this package - would really appreciate it!
PS: I have been using this package on production and thanks a ton to the maintainers!

[2022-01-19 06:06] delaneyj commented on #440
I'm running into the exact same issue currently.

[2022-01-19 06:18] prabhuomkar commented on #440
@markbates any update on this please?

[2022-01-20 13:13] apoorvcodes opened #441 "More active maintainers"
As of now goth team seems dead, and hasnt properly replied to issues and prs, as a goth user ill like to help goth and maintain it, I have been working with go for a year now and have a great understanding of goth code base

[2022-01-20 18:07] techknowlogick commented on #441
As one of the project leads of Gitea (which makes use of goth), have multiple merges to goth, and have reviewed/provided feedback to other PRs, I'd be more than happy to help maintain goth.

[2022-01-20 18:25] bentranter commented on #441
Thanks for raising this @apoorvcodes.

Apologies for the lack of activity on this repo – my work has changed over the years of being a maintainer of Goth, and lately I haven't been able to keep up anymore.

I previously reached out to Mark privately about making @techknowlogick a maintainer, and while he agreed to do it, it looks him and I misunderstood how some of GitHub's then-newer repo managem

[2022-01-20 18:52] techknowlogick commented on #441
Thanks @bentranter 🙂, I've just received the invitation from Mark. I will close this now, and will start reviewing PRs now.

[2022-01-20 18:52] #441 closed

[2022-01-20 18:53] bentranter commented on #441
Gotta hand it to Mark, he answers emails in minutes 😄

Thanks so much @techknowlogick!

[2022-01-21 03:37] apoorvcodes commented on #441
If you need more help m here to help as I also use goth a lot, also i have been working on
https://github.com/gominima/minima
m also very free and passionate to maintain this project

[2022-01-21 03:40] apoorvcodes commented on #441
Why don't you guys have a discord server

[2022-01-27 08:02] vinamra28 opened #443 "how to use goth for gitlab when deploying the application on production"
Hi, I am trying the use `goth` in my production application. The application is configured to use `gitlab` as oauth provider. When I try to run the application locally, it works fine but when I move the same application to production, it gives me the below error
[code]
Any idea?
The redirect uri which is being getting created is as follows `https://oauth.myapplication.com/auth/gitlab/callback`

[2022-01-27 08:11] vinamra28 commented on #443
/cc @techknowlogick
any pointers would be much appreciated :sweat_smile:

[2022-02-07 23:27] huntrar commented on #431
This was addressed in b8a528c0, however the authentication scopes were not updated per https://dev.twitch.tv/docs/authentication/#scopes and https://dev.twitch.tv/docs/api/migration#authentication-scopes.

[2022-02-20 17:20] GAZ082 opened #445 "Google: 400 invalid scope. How to add new ones?"
Hey. Trying to use the People API to get the users birth year (scope: user.birthday.read) and when put something like:

[code]

Im getting an error:

[code]
Wonder how can I new scopes or if there is any way to make this work.

Thanks.

[2022-02-22 11:55] pjcdawkins opened #446 "Bitbucket email confirmed/primary properties are not checked"
Looking at my browser's requests when I log in to https://bitbucket.org :

[code]

[code]

The `is_confirmed` and `is_primary` properties are not being checked by goth:
https://github.com/markbates/goth/blob/19c3059c9ed44995940c8222a8eda10f6b604e01/providers/bitbucket/bitbucket.go#L158-L171

I believe goth should be checking those properties from Bitbucket and refusing to return an unconfirmed ema

[2022-02-26 07:42] mediumdaver opened #448 "microsoftonline: gzip of cookie no longer enough"
I am getting the infamous "securecookie: the value is too long" error when using Microsoft online provider.  It seems that the returned data, even after gzip compression, is coming in at around 3,974 bytes and failing to be set.

We need a new mechanism, perhaps using web storage or splitting the cookie into parts?

[2022-03-01 21:37] #446 closed

[2022-03-07 15:16] dobin commented on #448
I have the same issue when using azureadv2 authentication provider.

[2022-03-11 18:00] jasonvriends opened #449 "Azure AD V1/V2 not able to read groups claims"
1. In the latest Gitea 1.16, when I specify the claim name 'groups' and an Azure AD group ID it doesn't seem to do anything. I am trying to get the 'is admin' populated based on a Group ID.

2. The userid is the object ID of the user in Azure AD. Can this be the first part of the UPN instead?

https://github.com/markbates/goth/blob/master/providers/azureadv2/azureadv2.go

[2022-03-11 20:58] jasonvriends opened #450 "Username populated by sub in Azure AD OIDC a random number"
Gitea supports the ability to choose nickname, email, or userid for auto registration. The openidConnect provider hard codes the UserID to the 'sub' claim. In Azure AD, the 'sub' claim is an immutable random ID that has no meaning. Can it be possible to specify the claim to use for a username instead?

https://github.com/markbates/goth/blob/master/providers/openidConnect/openidConnect.go

[2022-03-23 23:11] GAZ082 commented on #445
Anyone?

[2022-03-25 14:04] bentranter commented on #445
@GAZ082 From the error message, it looks like the `user.birthday.read` scope is invalid. Looking at [Google's docs](https://developers.google.com/people/v1/how-tos/authorizing#profile-scopes), it appears the correct scope is the string `"https://www.googleapis.com/auth/user.birthday.read"`. I tried this locally and it worked for me, so I'm going to close this. Feel free to re-open if you continue

[2022-03-25 14:04] #445 closed

[2022-03-30 09:55] limjinyung opened #452 "setting state when using google"
Hi, I am using goth to handle google SSO login but I am confused how should I set a state so that I can get back the state value after google has done authenticating the user? Thanks

Reference : https://developers.google.com/identity/protocols/oauth2/web-server#httprest
From google identity documentation

Similar issue: https://github.com/googleapis/google-auth-library-ruby/issues/94

[2022-04-12 15:18] #431 closed

[2022-05-01 18:40] lrstanley commented on #131
Has there been any follow-up on this? Would be nice to remove the dependency on gorilla packages (both `Store` and url param functionality), and make it a bit more pluggable. Could also have sub-packages to still allow the use of gorilla packages in a seamless way. I don't think there is an easy way to be backwards compatible, but might be worth a `v2` version, with an interface/context approach.

[2022-05-28 03:39] darienmiller88 opened #457 "Is goth compatible with chi?"
I'm having an issue where goth is not pulling the value of the `{provider} `parameter from my chi router, but it does so with the `gorilla/pat` router. Here is a code sample:

[code]
I'm testing this from a react front using the following code:
[code]

Chi and Pat both use `net/http`, so I'm not sure why the url parameter is not being read by the `gothic.GetAuthURL(res, req)` function. Am I doing

[2022-05-31 01:09] Arteneko opened #458 "Patreon login support"
Hello! What would it take to add patreon login support ?

[2022-06-09 09:55] yaronius commented on #436
+ Apple imposes it as a requirement https://developer.apple.com/news/?id=12m75xbj

[2022-06-12 23:29] noellimx commented on #457
Get provider using custom function using chi with gothic

See https://pkg.go.dev/github.com/markbates/goth/gothic#GetProviderName

1. Define how you want to get the param
`
func CustomGetProviderNameFromRequestWithChaiFramework(r *http.Request) (string, error) {

	str := chi.URLParam(r, "provider")

	if str == "" {
		return "", errors.New("orovider not found")

	}

	return str, nil
}

`

2. Assign

[2022-06-21 19:02] niradler commented on #131
I'm also seeking for this, I don't care that mux will be the default for backwards compatibility but lets add the option to provider a custom handler, I'm on my phone so no code suggestions, but I will fork and create an example just let me know if you are interested in merging something like that 🙏

[2022-06-23 14:58] uragiristereo opened #462 "Google redirect_uri always returns "http" scheme for https callback URL"

[2022-06-24 12:07] nicodemus-opon commented on #440
I saw a pr for this #460 hope this gets merged

[2022-06-24 17:49] #440 closed

[2022-06-27 08:58] C-monC opened #463 "azuread securecookie: the value is too long"
Hi,

I cannot get azuread oauth working with goth. Has anyone managed to use azuread/azuread2?
The error:

Google sign in works fine.

The issue is with the size of the cookie being set in the browser.

I've tried using a postgresql session store.
[code]
This creates the session table but goth doesn't populate rows even on successful google sign ins.
I do not need the access token from the sign in

[2022-07-22 23:57] Kiwiie opened #466 "Can anybody please be more specific on the confusing redirect url?"
I'm so lost still

[2022-08-19 20:35] AdamJSoftware commented on #452
having the same issue, the state seems to be different after receiving the request back from the provider. Has anyone figured out how to fix this or if someone has encountered the same issue?

[2022-08-25 02:07] nicoxblues opened #468 "can't keep a user session alive"
in this line  https://github.com/markbates/goth/blob/b4c79e79185af6f2789b53bc9baafc299384d8e6/gothic/gothic.go#L180

`defer logout `
cleans up the session which prevents me from keeping the user session

[2022-08-25 02:21] nicoxblues commented on #468
ok.
i think this is because the user session should be handled by the web application itself and not by a library

[2022-08-25 02:58] techknowlogick commented on #468
Yup, that's exactly it.

[2022-08-25 02:58] #468 closed

[2022-09-18 17:54] lrstanley opened #470 "feat: support overriding the gothic.SessionName value"
As it stands currently, the goth package forces cookies under a specific name. This is fine when working with one http service and/or routing handler, however if one is developing multiple http services locally, or registering multiple independent goth configurations, the inability to override this value means that each configuration will overwrite eachother. I suspect simply changing this from a

[2022-09-22 12:48] coehne commented on #411
You can also add it with the GetProviderName function before the `CompleteUserAuth` call like so:

`gothic.GetProviderName = func(r *http.Request) (string, error) {
			return c.Param("provider"), nil
		}`

[2022-10-01 17:08] spy16 commented on #457
You can also make a middleware and wrap your routes:

[code]

[2022-10-01 18:12] #457 closed

[2022-10-08 00:44] kmlixh opened #472 "twitterv2.go FetchUser function failed"
when i use twitterv2.go to get the user profile, something wrong.（the current twitterv2 api changed?）
`
        user.Description = user.RawData["description"].(string)
	user.AvatarURL = user.RawData["profile_image_url"].(string)
	user.UserID = user.RawData["id"].(string)
	user.Location = user.RawData["location"].(string)
`
because there was no 'description' inside of the user.RawData.

user.RawDat

[2022-10-08 01:03] techknowlogick commented on #472
just tagged v1.73.1, thanks for the ping :)

[2022-10-08 01:03] #472 closed

[2022-10-08 21:59] mhkarimi1383 opened #473 "Implement PKCE for OpenID Connect"
Hi
I'm using LogTo as my OpenID Connect Provider
but I'm getting 421 status code with the error below in gitea container logs

[code]

related: https://github.com/go-gitea/gitea/issues/21376

I think someone fixed that for zoom authentication https://github.com/markbates/goth/pull/459
I think it's good to make it for OpenID Connect too...
or make it working by using LogTo library (and adding anoth

[2022-10-12 16:59] #473 closed

[2022-10-12 16:59] #401 closed

[2022-10-13 05:56] Paritoshyadav opened #475 "BUG: shopify hmac verifcation need change to successfully validate"
[code]

to

[code]

Need to include host params to successfully validate hmac, else it will fail

[2022-10-13 14:35] techknowlogick commented on #475
Thanks @Paritoshyadav, would you be able to send a PR to update this?

[2022-10-14 02:58] Paritoshyadav commented on #475
@techknowlogick sure

[2022-10-21 05:18] AtanasSarafov commented on #381
Why is this issue closed? Is it resolved somehow?

[2022-10-21 06:57] leopku commented on #381
Finally I used the first method with little change:

Redirecting to SPA with code **but not token**,  then SPA request with code to get really token.

[2022-10-25 06:16] Paritoshyadav commented on #475
@techknowlogick  #477

[2022-10-25 13:54] Paritoshyadav commented on #475
@techknowlogick check PR

[2022-10-26 01:12] techknowlogick commented on #475
closing this ticket as PR has now been merged. thanks for sending that :)

[2022-10-26 01:12] #475 closed

[2022-11-03 14:00] cc-shekher commented on #355
were you able to conclude the implementation to support multiple tenant or rather accept tenant while requesting auth...!!
TIA

[2022-11-04 15:12] #458 closed

[2022-11-08 04:27] andradei commented on #355
No. The code I ended up implementing is closed source and I don't have access to it anymore. I also didn't try to implement multi-tenancy.
Sorry, I wish I could help more. But it looks like there are better auth packages available since 2020.

[2022-11-19 17:38] pasifus opened #482 "Apple auth with stops not working correct"
When using apple auth scopes "email", "name" the current provided not parse POST response for get "first_name" and "last_name".

[2022-11-23 22:12] chizutan5 opened #483 "Mastodon OAuth implementation has no handling for the email field."
According to my code reading skills, the mastodon oauth implementation on Goth has no handing for the email field, this creates what I believe is a bug on Gitea where you cannot create a gitea account with a mastodon oauth session because it will ask for the email, however you can link a mastodon authententication session to an existing gitea account which already will have an email attached.
I ha